///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////
///////////////////////////////////////////
.plot-card {
    text-align: left;
    .price {
        @include font-size(2);
    }
    .beds {
        @include font-size(1.4);
    }
}

.plot-card .plot {
    text-align: center;
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////
.plot-card {
    background: $wht;
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.plot-card {
    position: relative;
    @include box-shadow;
    margin-bottom: 2em;
    .card-head,
    .card-body {
        position: relative;
    }
    .plot, .beds {
        z-index: 3;
    }
    .plot {
        position: absolute;
        background: $wht;
        color: $grey-20;
        @include box-shadow;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        top: 1em;
        right: 0.7em;
        span {
            &.plot-txt {
                position: absolute;
                left: 0;
                width: 100%;
                margin-top: 10px;
                text-transform: uppercase;
                @include font-size(1.1);
            }
            &.number {
                @include font-size(3);
                display: block;
                position: static;
                margin-top: 17px;
            }
        }
    }
    .name {
        display: block;
    }
    .card-cta {
        position: absolute;
        right: 9px;
        top: 8px;
    }
    .beds {
        position: absolute;
        top: 1.2em;
        left: 0;
        background: $orange;
        color: $wht;
        padding: 0.5em 1em 0.5em 0.5em;
        border-radius: 0 20px 20px 0;
    }
    .card-cta p {
        text-transform: uppercase;
        font-size: 1.4rem;
        margin: 5px 0 0 0;
        padding: 6px 0 7px 0;
        display: inline-block;
    }
}

@include breakpoint($B-370) {
    .plot-card {
        @include span(6);
        &:nth-of-type(2n+0) {
            margin-right: 0;
        }
        .beds {
            padding: 0.5em 1em 0.5em 0.5em;
            border-radius: 0 20px 20px 0;
            top: 0em;
            left: 0;
        }
        .plot {
            top: auto;
            bottom: 14%;
            right: 0.4em;
            background: $secondary;
            color: $wht;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        .card-cta {
            position: static;
        }
        .card-cta p {
            margin-top: 10px;
        }
        a.btn-v2 {
            &:link, &:active, &:visited {
                margin-top: 0.5em;
                padding-top: 6px;
                padding-left: 6px;
                padding-right: 37px;
                padding-bottom: 6px;
                .chevron {
                    background-position: -63px 6px;
                }
            }
            &:hover, &:focus {}
        }
    }
}


@include breakpoint($B-400) {
    .plot-card {
        .plot {
            right: 1em;
            bottom: 12%;
        }
    }
}


@include breakpoint($B-550) {
    .plot-card {
        position: relative;
        @include span(4);
        &:nth-of-type(2n+0) {
            margin-right: 1.69492%;
        }
        &:nth-of-type(3n+0) {
            margin-right: 0;
        }
        @include box-shadow;
        margin-bottom: 2em;
        .plot {
            right: 0.5em;
            bottom: 14%;
        }
    }
}


@include breakpoint($B-667) {
    .plot-card {
        .plot {
            bottom: 12%;
        }
    }
}


@include breakpoint($B-745) {
    .plot-card {
        text-align: center;
        .plot {
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 41%;
            background: $wht;
            color: $grey-20;
            @include box-shadow;
        }
        .price {
            @include font-size(2.5);
        }
        .beds {
            top: 1em;
        }
        .name {
            padding-top: 5px;
            border-top: 1px solid $grey-70;
            border-bottom: 1px solid $grey-70;
            padding-bottom: 5px;
            text-transform: uppercase;
            width: 70%;
            margin: 5px auto;
        }
        .card-body.pad {
            padding-top: 4em;
        }
    }
}


@include breakpoint($B-800) {
    .row.plot.listing {
        .inner-container.pad {
            padding-top: 0;
        }
    }
}


@include breakpoint($B-850) {
    .plot-card {
        .plot {
            bottom: 38%;
        }
        .card-body.pad {
            // padding-top: 3.5em;
       
        }
    }
}


@include breakpoint($B-910) {
    .plot-card {
        @include span(3);
        &:nth-of-type(3n+0) {
            margin-right: 1.69492%;
        }
        &:nth-of-type(4n+0) {
            margin-right: 0;
        }
        .plot {
            bottom: 42%;
        }
        .card-body.pad {
            padding-top: 5em;
        }
    }
}


@include breakpoint($B-1050) {
    .plot-card {
        .price {
            @include font-size(3);
        }
        .card-body.pad {
            padding-top: 3.5em;
        }
    }
}


@include breakpoint($B-1200) {
    .plot-card {
        .plot {
            height: 70px;
            width: 70px;
            bottom: 38%;
            span {
                &.number {
                    margin-top: 22px;
                }
                &.plot-txt {
                    margin-top: 14px;
                }
            }
        }
        .card-body.pad {
            min-height: 168px;
        }
    }
}