///////////////////////////////////////////
// **** Form styles **** 
///////////////////////////////////////////
form {
    .table {
        padding: 2em 3em;
        &.two-col {
            .cell {
                padding-right: 0.5em;
                &.last {
                    padding-right: 0;
                    padding-left: 0.5em;
                }
            }
        }
        .cell, .wrap {
            padding-bottom: 1em;
        }
        &.bkg {
            background: $body;
            border: 1px solid #e3e3e3;
            padding-bottom: 0.5em;
            margin-bottom: 2em;
        }
        &.contactMethod {
            .wrap:first-of-type {
                padding-bottom: 0;
            }
        }
        h6 {
            position: absolute;
            top: -3.5em;
            left: -2.4em;
            background: $secondary;
            color: white;
            padding: 0.3em 0.5em;
            font-size: 1.2rem;
            font-weight: normal;
            text-transform: uppercase;
        }
    }
}

form .first {
    margin-top: 2em;
}

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

form {
    @include font-size(1.5);
}

label, .label {
    font-weight: bold;
}

input[type="submit"] {
    text-align: center;
    font-weight: bold;
    @include font-size(1.4);
}

form {
    .check, .radio {
        label {
            @include font-size(1.4);
            font-weight: normal;
        }
    }
}

textarea {
    min-height: 100px;
}

///////////////////////////////////////////
// Rows
///////////////////////////////////////////
form .row.name {
    margin-top: 2em;
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////
input[type="submit"] {
    // background: $dark;
    // color: $wht;
}

input[type="text"], input[type="email"], textarea {
    border: 1px solid $light;
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

form {
    width: 100%;
    .row {
        margin-bottom: 1.5em;
        &.data {
            margin-bottom: 0;
            padding-top: 1em;
            border-top: 1px solid $grey-90;
        }
    }
}

label, .label {
    display: block;
    margin-bottom: 0.3em;
}

small {
    margin-bottom: 0.5em;
    display: block;
}

input[type="submit"] {
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    width: auto;
    height: 30px;
    padding: 0 10px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    margin-bottom: 0.5em;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    &:focus {
        // https://css-tricks.com/almanac/properties/o/outline/
   
    }
}

form {
    .check, .radio {
        .wrap {
            position: relative;
            input[type="radio"], input[type="checkbox"] {
                margin-bottom: 0;
                position: absolute;
                top: 9px;
            }
            label {
                margin-bottom: 0;
                padding: 7px 0px 7px 20px;
            }
        }
    }
}

textarea {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 5px;
}

form .inline {
    @include breakpoint($B-500) {
        float: left;
        width: 49%;
        margin-right: 2%;
        &.last {
            margin-right: 0;
            float: right;
        }
    }
}

///////////////////////////////////////////
// IMPORT
///////////////////////////////////////////

// @import "form-theme";
// @import "form-ie";