///////////////////////////////////////////
// **** Form theme **** 
///////////////////////////////////////////


///////////////////////////////////////////
// Typography
///////////////////////////////////////////



///////////////////////////////////////////
// Links
///////////////////////////////////////////

input[type="submit"] {
   border-radius: 5px;

}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////
// input[type="submit"] {
//     background: $success;
//     color: $wht;
// }

small {
	color: $light-grey;
}


.row.check, .row.radio {
    label {
        color: $grey;
    }
}


///////////////////////////////////////////
// Layout
///////////////////////////////////////////

