.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.ctaForm {
    padding: 2em 2em 5em 2em;
    background: $dark;
    form {
        background: $wht;
        padding: 1em;
        border-radius: 3px;
        .formHeader {
            padding-bottom: 1em;
            margin-bottom: 1em;
            border-bottom: 1px solid $grey-90;
            h2, p {
                margin-bottom: 0;
            }
            p {
                @include font-size(1.4);
            }
        }
    }
    .formHeader.thankYou {
        background: $wht;
        padding: 1em;
        border-radius: 3px;
    }
    @include breakpoint($B-800) {
        form, .formHeader.thankYou {
            width: 600px;
            margin: 0 auto;
            padding: 2em;
        }
    }
}