.pad {
    &.findUs {}
    &.openingHours {}
    &.callUs {
        background: #333333;
        h6 {
            color: $wht;
        }
        p {
            color: $grey-80;
        }
        a.telephone {
            &:link, &:active, &:visited {
                color: $wht;
            }
            &:hover, &:focus {
                color: $wht;
            }
        }
    }
    &.openingHours, &.callUs {
        p {
            margin-bottom: 0;
        }
    }
    &.findUs, &.openingHours, &.callUs {
        h6 {
            margin-bottom: 8px;
            padding-bottom: 0;
        }
    }
}

ul.developmentAddress {
    li {
        margin-bottom: 0.3em;
    }
}

ul.keyFeatures {
    // margin-bottom: 2em;
}

ul.keyFeatures li {
    @include font-size(1.4);
    line-height: 1.5em;
    margin-bottom: 0.7em;
    color: $grey-20;
    position: relative;
    padding-left: 32px;
    i {
        background: image-url("sprite-cta.png") no-repeat;
        background-position: -32px 7px;
        background-size: 45px 7px;
        height: 20px;
        width: 20px;
        display: block;
        background-color: $grey-20;
        border-radius: 50%;
        // float: left;
        margin-top: 1px;
        position: absolute;
        left: 0;
    }
    p {
        padding-left: 30px;
        margin-top: 1px;
    }
    a {
        &:link, &:active, &:visited {
            border-bottom: 1px dotted $wht;
        }
        &:hover, &:focus {
            border-bottom: 1px dotted $grey-20;
        }
    }
    @include breakpoint($B-910) {
        padding-right: 4em;
    }
}

.keyFeatures-container {
    background: $grey-20;
    h6 {
        color: $wht;
    }
}

ul.keyFeatures.downloads li {
    span {
        @include font-size(1.2);
    }
    i {
        background-color: $green-dark;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    a {
        &:link, &:active, &:visited {
            text-decoration: none;
            color: $grey-90;
            border-bottom: 1px dotted $grey-90;
        }
        &:hover, &:focus {
            color: $wht;
            border-bottom: 1px dotted $wht;
        }
    }
}

ul.price-and-beds {
    // list-style: none;
    list-style: disc;
    padding: 1em 2em;
    margin-bottom: 1em;
    border-top: 1px solid $grey-80;
    border-bottom: 1px solid $grey-80;
    li {
        @include font-size(1.4);
        margin-bottom: 0.5em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include breakpoint($B-910) {
        list-style: none;
        padding-left: 1em;
        padding-right: 1em;
        li {
            display: inline-block;
            margin-bottom: 0;
            margin-right: 1em;
            padding-right: 1em;
            border-right: 1px solid $grey-70;
            &:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: none;
            }
        }
    }
}