ul.swatches {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    clear: both;
    li {
        display: inline-block;
        height: 50px;
        width: 50px;
        &.grey-10 {
            background: $grey-10;
        }
        &.grey-20 {
            background: $grey-20;
        }
        &.grey-30 {
            background: $grey-30;
        }
        &.grey-40 {
            background: $grey-40;
        }
        &.grey-50 {
            background: $grey-50;
        }
        &.grey-60 {
            background: $grey-60;
        }
        &.grey-70 {
            background: $grey-70;
        }
        &.grey-80 {
            background: $grey-80;
        }
        &.grey-90 {
            background: $grey-90;
        }
        &.primary {
            background: $primary;
        }
        &.secondary {
            background: $secondary;
        }
        &.dark {
            background: $dark;
        }
        &.light-grey {
            background: $light-grey;
        }
        &.light {
            background: $light;
        }
        &.off-wht {
            background: $off-wht;
        }
        &.warning {
            background: $warning;
        }
        &.success {
            background: $success;
        }
        &.green-dark {
            background: $green-dark;
        }
        &.green-light {
            background: $green-light;
        }
        &.sold {
            background: $sold;
        }
    }
}