.featuredDevelopment {
    ///////////////////////////////////////////
    // **** SECTION NAME **** 
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Typography
    ///////////////////////////////////////////
    h6 {
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 1.4em;
    }
    p.small {
        margin-bottom: 0.5em;
        color: $grey-60;
        @include font-size(1.2);
    }
    p {
        @include font-size(1.3);
        line-height: 1.3em;
    }
    small {
        @include font-size(1.2);
    }
    span.hideTxt {
        @include breakpoint($B-745) {
            display: none;
            visibility: hidden;
        }

        @include breakpoint($B-1050) {
            display: inline-block;
            visibility: visible;
        }
    }
    ///////////////////////////////////////////
    // Links
    ///////////////////////////////////////////
    h6 a {
        &:link, &:active, &:visited {
            text-decoration: none;
        }
        &:hover, &:focus {}
    }
    ///////////////////////////////////////////
    // Colour
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Lists
    ///////////////////////////////////////////
    ul.features {
        list-style: disc;
        padding: 0 0 0 1.7em;
        margin-bottom: 2em;
        li {
            @include font-size(1.2);
            margin-bottom: 2px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .pad {
        background: $wht;
        @include box-shadow;
    }
    ///////////////////////////////////////////
    // Layout
    ///////////////////////////////////////////
    .featuredHead {
        position: relative;
    }
    .location-flag {
        position: absolute;
        z-index: 3;
        top: 1em;
        left: 0;
        padding: 1em 1.5em 1em 2.1em;
        border-radius: 0 25px 25px 0;
        i {
            background-image: image-url("sprite-pin.png");
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: 120px 20px;
            display: block;
            position: absolute;
            width: 17px;
            left: 0.6em;
            top: 0.7em;
            height: 26px;
        }
    }
}