.location-flag {
    background: #FE6100;
    padding: 0.3em 12px;
    font-size: 1.2em;
    color: $wht;
    text-transform: uppercase;
}

.development-list {
    ///////////////////////////////////////////
    // Typography
    ///////////////////////////////////////////
    h1 {
        margin-bottom: 0;
        @include font-size(2.1);
        line-height: 1.3em;
    }
    p.small {
        @include font-size(1.2);
        color: $grey-50;
    }
    aside {
        h6 {
            @include font-size(1.7);
        }
    }
    @include breakpoint($B-745) {
        h1 {
            @include font-size(2.5);
        }
    }

    @include breakpoint($B-910) {
        h1 {
            @include font-size(3.1);
        }
    }

    // @include breakpoint($B-1024) {
    //     h1 {
    //         width: 400px;
    //     }
    // }
    ///////////////////////////////////////////
    // Links
    ///////////////////////////////////////////
    a {
        &:link, &:active, &:visited {
            text-decoration: none;
        }
        &:hover, &:focus {}
    }
    &.home {
        ul.navigation.inline {
            li {
                display: inline-block;
            }
            @include breakpoint($B-460) {
                text-align: center;
            }

            @include breakpoint($B-800) {
                text-align: left;
            }
        }
        .btn-v2.cta.green {
            margin-bottom: 1em;
            @include breakpoint($B-460) {
                margin-bottom: 0;
            }
        }
    }
    ///////////////////////////////////////////
    // Colour
    ///////////////////////////////////////////
    aside {
        background: $grey-90;
    }
    ///////////////////////////////////////////
    // Layout
    ///////////////////////////////////////////
    .hero-logo {
        display: none;
        visibility: hidden;
        width: 70px;
        height: 70px;
        position: absolute;
        left: auto;
        right: 2em;
        width: auto;
    }
    aside {
        overflow: hidden;
        position: relative;
        .location-flag {
            display: none;
            visibility: hidden;
        }
    }
    margin-bottom: 3em;
    ul.features {
        margin-bottom: 1em;
        li {
            padding: 0 1em 0.5em 1em;
            @include font-size(1.3);
            line-height: 1.5em;
            &.icon i {
                background-position: 0 6px;
            }
        }
    }
    @include breakpoint($B-460) {
        &.table {
            .inner-container {
                display: table;
                .table-row {
                    display: table-row;
                }
            }
            .column,
            .main,
            aside {
                display: table-cell;
                float: none !important;
                vertical-align: top;
            }
        }
        &.table.two-col {
            .main {
                @include span(7 no-gutters wide split);
            }
            aside {
                @include span(5 no-gutters wide split);
            }
        }
        img.hero-image {
            position: absolute;
            height: 100%;
            width: auto;
            margin-left: -25%;
        }
    }

    @include breakpoint($B-550) {
        img.hero-image {
            margin-left: -15%;
        }
    }

    @include breakpoint($B-667) {
        img.hero-image {
            margin-left: 0;
        }
    }

    @include breakpoint($B-745) {
        border: 5px solid $wht;
        .main {
            background: transparent;
            .location-flag {
                display: none;
                visibility: hidden;
            }
        }
        aside {
            .location-flag {
                display: block;
                visibility: visible;
            }
        }
        .location-flag {
            position: absolute;
            z-index: 3;
            top: 1em;
            left: 0;
            padding: 1em 1.5em 1em 2.1em;
            border-radius: 0 25px 25px 0;
            i {
                background-image: image-url("sprite-pin.png");
                background-color: transparent;
                background-repeat: no-repeat;
                background-size: 120px 20px;
                display: block;
                position: absolute;
                width: 17px;
                left: 0.6em;
                top: 0.7em;
                height: 26px;
            }
        }
        &.table {
            .inner-container {
                direction: rtl;
                .table-row {
                    direction: ltr;
                }
            }
        }
    }

    @include breakpoint($B-800) {
        img.hero-image {
            position: static;
            width: 100%;
            height: auto;
        }
    }

    @include breakpoint($B-910) {
        .hero-logo {
            display: block;
            visibility: visible;
            bottom: 2em;
        }
        .main .pad {
            padding-right: 15em;
        }
    }

    @include breakpoint($B-960) {
        &.table.two-col {
            .main {
                @include span(7 no-gutters wide split);
            }
            aside {
                @include span(5 no-gutters wide split);
            }
        }
    }

    @include breakpoint($B-1024) {
        .location-flag {
            @include font-size(1.5);
            i {
                background-size: 165px 27px;
            }
        }
        ul.features {
            width: 400px;
        }
        .hero-logo {
            width: 120px;
            height: 120px;
        }
    }

    @include breakpoint($B-1200) {
        .main {
            padding-left: 1em;
        }
    }
}

.projects.home {
    aside picture {
        display: none;
        visibility: hidden;
        @include breakpoint($B-745) {
            display: block;
            visibility: visible;
            float: left;
            background: $wht;
            width: 100%;
            margin-bottom: 2em;
            img {
                width: 200px;
                margin: 0 auto;
            }
        }
    }
    @include breakpoint($B-745) {
        .about-development .inner-container {
            @include box-shadow;
        }
    }
}

@include breakpoint($B-800) {
    .row.property.listing .inner-container.pad {
        padding-top: 0;
    }
}