 <perch:repeater id="document-downloads" label="Case studies">

                <perch:before>
                <div class="pad download-list">
<perch:if id="perch_item_count" value="2" match="gte">
<h4>Case studies</h4>
<perch:else />
<h4>Case study</h4>
</perch:if>

                <ul></perch:before>
                <li>
                   <a href="<perch:content id="download" type="file" label="File" bucket="case-studies"/>" target="_blank" title="<perch:content id="text-1" type="text" label="File name" html="false" />" ><i class="fa fa-file-text-o"></i><perch:content id="text-1" type="text"/>&nbsp;(<perch:content id="download" type="file" output="size" format="MB" />)</a>
                </li>
                <perch:after></ul></div></perch:after>
            </perch:repeater>







