<perch:repeater id="client-logos" label="Client logo"> 
<perch:before>
<div class="grid-layout">
				<h5>Clients include</h5>
                <ul class="client-logos">
</perch:before>


                <li>
                        <img src="<perch:content id="image-1" type="image" label="Image" width="206" height="137" crop="true" bucket="client-logos"/>" alt="<perch:content id="image-1-alt" type="text" label="Company name" />" srcset="<perch:content id="image-1" type="image" width="206" height="137" crop="true" label="Image" density="2"  bucket="client-logos" /> 2x">
                </li>

                <perch:after>
                </ul>
                </div>
                </perch:after>
</perch:repeater>          