<perch:before>
<div class="grid-layout grid-4-col">
<div class="pad">
<ul>
</perch:before>


                <li>
                <h3><perch:content id="title" type="text" title="true" label="Title" html="false"  /></h3>
                        <a class="magnify" title="<perch:content id="title"/>" href="<perch:content id="btn-link" type="text" label="URL" help="e.g: /contact" html="false" />"><img src="<perch:content id="image-1" type="image" label="Image" width="230" height="152" crop="true" bucket="grid"/>" alt="<perch:content id="image-1-alt" type="text" label="Image description" help="A text alternative for an image. Used by screenreaders and other site readers as an alternative to the image itself."  />" srcset="<perch:content id="image-1" type="image" width="230" height="152" crop="true" label="Image" density="2"  bucket="grid" /> 2x"></a>
                </li>

                <perch:after>
                </ul></div>
                </div>
                </perch:after>
       


