<div class="row hero"> 
    <div class="inner-container <perch:if order="3" exists="align-text">text-align <perch:content id="align-text" type="select" label="Position text" options="Left|left, Center|center, Right|right" help="Choose an option to align text." /></perch:if>">
        <perch:if exists="text"><h1><perch:content order="1" id="text" type="text" label="Heading" html="false" title="true" chars="95" count="chars" append="..."  /></h1></perch:if>
        <perch:if exists="textarea"><perch:content order="2" id="textarea" help="Character limit 95" type="textarea" label="Sub-heading" html="false" size="xs" markdown="true" editor="markitup" chars="95" count="chars" append="..." /></perch:if>
       

        <perch:if exists="btn-txt-primary"><a class="btn primary" title="<perch:content divider-before="Buttons" id="btn-txt-primary" type="text" label="Text for button" help="e.g: Tell me more" html="false"  />" href="<perch:content id="btn-link-primary" type="text" label="Button URL" help="e.g: /contact" html="false" title="true" />"><perch:content id="btn-txt-primary" /></a></perch:if><perch:if exists="btn-txt-secondary"><a class="btn secondary" title="<perch:content id="btn-txt-secondary" type="text" label="Text for button" help="e.g: Tell me more" html="false"  />" href="<perch:content id="btn-link-secondary" type="text" label="Button URL" help="e.g: /contact" html="false" title="true" />"><perch:content id="btn-txt-secondary" /></a></perch:if>

  </div>
    <div class="wrap">
      
       <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source
    <perch:if exists="imagecloseup">media="(min-width: 800px)"</perch:if>
    sizes="100vw"
    srcset="<perch:content divider-before="Hero Images" type="image" id="image" label="Image" width="200" /> 200w,   
            <perch:content type="image" id="image" label="Image" width="400" /> 400w,
            <perch:content type="image" id="image" label="Image" width="800" /> 800w,
            <perch:content type="image" id="image" label="Image" width="1200" /> 1200w,
            <perch:content type="image" id="image" label="Image" width="1600" /> 1600w,
            <perch:content type="image" id="image" label="Image" width="2000" /> 2000w"
    >

  <perch:if exists="imagecloseup">
    <source
    media="(max-width: 799px)"
    sizes="100vw"
    srcset="<perch:content type="image" id="imagecloseup" label="Closeup image" help="Optional - Closeup image for small screens." width="200" /> 200w,
            <perch:content type="image" id="imagecloseup" label="Closeup image" width="400" /> 400w,
            <perch:content type="image" id="imagecloseup" label="Closeup image" width="800" /> 800w,
            <perch:content type="image" id="imagecloseup" label="Closeup image" width="1200" /> 1200w,
            <perch:content type="image" id="imagecloseup" label="Closeup image" width="1600" /> 1600w,
            <perch:content type="image" id="imagecloseup" label="Closeup image" width="2000" /> 2000w"
    ></perch:if><!--[if IE 9]></video><![endif]-->
    <img
    src="<perch:content type="image" id="image" width="2000" label="Image" help="Full size image for large screens" />" alt="<perch:content type="text" id="alt" label="Description" required="true" help="Description of subject of these images." title="true" />">

</picture>
</div>
</div>







