 <perch:repeater id="list-of-links" label="List of links">
                <perch:before><ul></perch:before>
                 <perch:if exists="link-txt"><li><a target="_blank" title="<perch:content id="link-txt" type="text" label="Heading"  />" href="<perch:content id="link" type="text" label="URL" html="true" />"><perch:content id="link-txt" /></a></li></perch:if>
                <perch:after></ul></perch:after>
            </perch:repeater>


