 <perch:repeater id="document-downloads" label="Case studies">

<perch:before>
<div class="testimonial">
<perch:if id="perch_item_count" value="2" match="gte">
<h4>Testimonials</h4>
<perch:else />
<h4>Testimonial</h4>
</perch:if>

</perch:before>	
<div class="pad">

<perch:if exists="textarea-1"><blockquote><perch:content id="textarea-1" type="textarea" label="Text area" html="false" size="s" required="true" title="true" markdown="true" editor="markitup" bucket="about" />

<perch:if exists="name"><footer><perch:content id="name" type="text" label="Full name" help="First name and surname" html="false"  title="true"  />,</perch:if>
<perch:if exists="position"><perch:content id="position" type="text" label="Position" html="false"  title="true"  />,</perch:if>
<perch:if exists="company"><perch:content id="company" type="text" label="Company name" html="false"  title="true"  /></footer></perch:if>
</blockquote></perch:if>


</div>
<perch:after>
</div>
</perch:after>
</perch:repeater>
		

		


		