<perch:before>    
<div class="two-col-img-txt">
</perch:before>    

<section class="row services columns equal-height two-col no-gutter <perch:if exists="flip"><perch:content id="flip" type="checkbox" label="Flip layout" value="flip" /></perch:if><perch:if exists="last-row"><perch:content id="last-row" type="checkbox" label="last-row" value="last-row" /></perch:if>">
    	<div class="inner-container">


    		<div class="main"><div class="pad"><h2><perch:content id="text" type="text" label="Heading" html="false" title="true"  /></h2>
    				<perch:content id="textarea" type="textarea" label="Text area" html="false" size="s" required="true" markdown="true" editor="markitup" chars="250" count="chars" append="..." help="Text box limited to 250 characters" />
    				<a class="btn solid primary radius-3" title="Find out more" href="<perch:content id="btn-link" type="text" label="URL" help="E.g: /contact" html="false" />">Find out more<i class="fa fa-caret-right"></i></a> 
</div>
                    </div>
    		

            <aside><a class="magnify" title="Find out more" href="<perch:content id="btn-link" type="text" />"><img src="<perch:content id="image-1" type="image" label="Image" width="502" height="232" crop="true" bucket="image-library" />" alt="<perch:content id="image-1-alt" type="text" label="Alt text" help="An alt tag is a text alternative for an image. It is used by screenreaders and other site readers as an alternative to the image itself."  />" srcset="<perch:content id="image-1" type="image" width="502" height="232" crop="true" label="Image" density="2" bucket="image-library" /> 2x"></a> </aside>
    	
        </div>
</section>



<perch:after>    
</div>
</perch:after>    





