<section class="row">
    <div class="inner-container form">
        <div class="pad">

 


<perch:form novalidate="novalidate" id="contact_form" method="post" app="perch_forms">

<perch:if exists="introduction"><h2><perch:content id="introduction" type="textarea" label="Introduction" html="false" size="s"/></h2></perch:if>


<perch:error for="full-name" type="required">
            <p class="error">
                Please add your name
            </p>
        </perch:error>
        <perch:error for="email-address" type="required">
                <p class="error">
                    Please add your email address
                </p>
            </perch:error>
            <perch:error for="email-address" type="format">
                <p class="error">
                    Please check your email address
                </p>
            </perch:error>
            <perch:error for="phone-number" type="required">
                    <p class="error">
                        Please add your phone number
                    </p>
                </perch:error>
                <perch:error for="enquiry" type="required">
            <p class="error">
                Please write a message
            </p>
        </perch:error>

    
        
        <div class="row">

        <div class="inline">
        <perch:label for="full-name">Full name</perch:label>
        <perch:error for="full-name" type="required"><p class="error">Please add your name</p></perch:error>                        
        <perch:input id="full-name" name="full-name" type="text" class="required" title="Full name. This is a required field" required="true" label="Name" mailer="FULLNAME"/>
        <small class="hint">First name and surname</small>
        </div>

        <div class="inline last">
        <perch:label for="email-address">Email address</perch:label>
        <perch:error for="email-address" type="required"><p class="error">Please add your email address</p></perch:error>
        <perch:error for="email-address" type="format"><p class="error">Please check your email address</p></perch:error>
        <perch:input id="email-address" name="email-address" type="email" class="required" title="Email address. This is a required field" required="true" label="Email" mailer="email"/>
        
        </div>

        </div><!-- row -->



        <div class="row">
        
        <perch:label for="enquiry">Message</perch:label>
        <perch:error for="enquiry" type="required"><p class="error">Please write a message</p></perch:error>
        <perch:input type="textarea" id="enquiry" required="true" label="Enquiry" cols="20" rows="3" class="required" title="Enquiry"/>
        <small class="hint">How can we help?</small>
        
        

        </div><!-- row -->
            
   <div class="row">
<perch:if exists="smallprint"><small><perch:content id="smallprint" type="textarea" label="Small print" html="false" size="xs"  help="Your personal details will be held securely by Euxton Lane Developments Ltd in accordance with the Data Protection Act 2000, and will be
used solely in connection with this consultation and any subsequent planning applications, and will not be passed to any third parties." /></small></perch:if>
</div>

  <div class="row">
<perch:input class="btn submit" title="Submit form" type="submit" id="submit" value="Send message"/>
</div>

    
        <perch:success>
        <perch:content divider-before="Thank you message" id="success" type="textarea" label="Thank you message" markdown="true" size="m" editor="markitup" help="E.g. Thank you for taking the time to complete this form."/>
        </perch:success>
    
</perch:form>
   
   </div></div>
</section>
