<perch:form novalidate="novalidate" id="company-contact-form" method="post" app="perch_forms">



<perch:template path="content/blocks/hero-page.html" />

<div class="pad">

<perch:if exists="form-intro"><perch:content id="form-intro" type="textarea" label="Introduction" html="false" size="xs" markdown="true" help="E.g. A member of our team will endeavour to contact you as soon as possible." /></perch:if>


<perch:error for="full-name" type="required">
            <p class="error">
                Please add your name
            </p>
        </perch:error>
        <perch:error for="company-name" type="required">
            <p class="error">
                Please add company name
            </p>
        </perch:error>
        <perch:error for="telephone" type="required">
            <p class="error">
                Please add your telephone number
            </p>
        </perch:error>
        <perch:error for="email-address" type="required">
                <p class="error">
                    Please add your email address
                </p>
            </perch:error>
            <perch:error for="email-address" type="format">
                <p class="error">
                    Please check your email address
                </p>
            </perch:error>
            <perch:error for="phone-number" type="required">
                    <p class="error">
                        Please add your phone number
                    </p>
                </perch:error>
                <perch:error for="enquiry" type="required">
            <p class="error">
                Please write a message
            </p>
        </perch:error>

    
        
        <div class="row">

        <div class="inline">
        <perch:label for="full-name">Full name</perch:label>
        <perch:error for="full-name" type="required"><p class="error">Please add your name</p></perch:error>                        
        <perch:input id="full-name" name="full-name" type="text" class="required" title="Full name. This is a required field" required="true" label="Name"/>
        <small class="hint">First name and surname</small>
        </div>

        <div class="inline last">
        <perch:label for="company-name">Company name</perch:label>
        <perch:error for="company-name" type="required"><p class="error">Please add company name</p></perch:error>                      
        <perch:input id="company-name" name="company-name" type="text" class="required" title="Company name. This is a required field" required="true" label="Company name"/>
        
        
        </div>

        </div><!-- row -->
        <div class="row">

        <div class="inline">
        <perch:label for="telephone">Telephone</perch:label>
        <perch:error for="telephone" type="required"><p class="error">Please add your telephone number</p></perch:error>                        
        <perch:input id="telephone" name="telephone" type="text" class="required" title="Telephone. This is a required field" required="true" label="Telephone"/>
        <small class="hint">Business telephone number</small>
        </div>

        <div class="inline last">
        <perch:label for="email-address">Email address</perch:label>
        <perch:error for="email-address" type="required"><p class="error">Please add your email address</p></perch:error>
        <perch:error for="email-address" type="format"><p class="error">Please check your email address</p></perch:error>
        <perch:input id="email-address" name="email-address" type="email" class="required" title="Email address. This is a required field" required="true" label="Email" />
         <small class="hint">Business email address</small>
        </div>

        </div><!-- row -->



        <div class="row">
        
        <perch:label for="enquiry">Message</perch:label>
        <perch:error for="enquiry" type="required"><p class="error">Please write a message</p></perch:error>
        <perch:input type="textarea" id="enquiry" required="true" label="Enquiry" cols="20" rows="3" class="required" title="Message"/>
        <small class="hint">How can we help?</small>
        
        

        </div><!-- row -->
            
   <div class="row">
<perch:if exists="smallprint"><small><perch:content id="smallprint" type="textarea" label="Small print" html="false" size="xs"  help="Your personal details will be held securely by [company name here] in accordance with the Data Protection Act 2000, and will be used solely in connection with this website and will not be passed to any third parties." /></small></perch:if>
</div>

  <div class="row">
<perch:input class="btn submit" title="Submit form" type="submit" id="submit" value="Send message"/>
</div>

</div>    
        <perch:success>
        <perch:template path="content/blocks/hero-page.html" />
        <div class="pad"><perch:content divider-before="Thank you message" id="success" type="textarea" label="Thank you message" markdown="true" size="m" editor="markitup" help="E.g. Thank you for taking the time to complete this form."/></div>
        </perch:success>
    
</perch:form>
   
