<section class="row">
    <div class="inner-container form">
        <div class="pad">

 


<perch:form novalidate="novalidate" id="feedback-form" method="post" app="perch_forms">

<perch:if exists="introduction"><h2><perch:content id="introduction" type="textarea" label="Introduction" html="false" size="s"/></h2></perch:if>



<perch:error for="full-name" type="required">
            <p class="error">
                Please add your name
            </p>
        </perch:error>
        
            <perch:error for="phone-number" type="required">
                    <p class="error">
                        Please add your phone number
                    </p>
                </perch:error>
        
        <perch:error for="address" type="required">
            <p class="error">Please provide your address</p>
        </perch:error>

        <perch:error for="postcode" type="required">
            <p class="error">Please provide your postcode</p>
        </perch:error>
        

    
          <div class="row">
        
        <perch:label for="feedback-1">What do you think about the mix of uses on the site?</perch:label>        
        <perch:input type="textarea" id="feedback-1" label="Enquiry" cols="20" rows="3"  title="Enquiry"/>
        </div><!-- row -->

        <div class="row">        
        <perch:label for="feedback-2">Any other comments?</perch:label>
        <perch:error for="feedback-2" ><p class="error">Any other comments?</p></perch:error>
        <perch:input type="textarea" id="feedback-2" label="Enquiry" cols="20" rows="3" class="required" title="Enquiry"/>
        </div><!-- row -->


        <div class="row">

        <div class="inline">  
        <perch:label for="full-name">Full name</perch:label>
        <perch:error for="full-name" type="required"><p class="error">Please add your name</p></perch:error>                        
        <perch:input id="full-name" name="full-name" type="text" class="required" title="Full name. This is a required field" required="true" label="Name" mailer="FULLNAME"/>
        <small class="hint">First name and surname</small>
         </div>

<div class="inline last">   
        <perch:label for="email-address">Email address</perch:label>
       
        <perch:input id="email-address" name="email-address" type="email" title="Email address" label="Email" mailer="email"/>
        </div>

<div class="row">
        <div class="inline">      
        <perch:label for="phonenumber">Phone number</perch:label>
        <perch:input type="text" id="phonenumber" label="phonenumber"  title="Phone number"/>
        </div>  </div><!-- row -->

            </div><!-- row -->

        <div class="row">        
        <perch:label for="address">Address</perch:label>
        <perch:error for="address" type="required"><p class="error">Please provide your address</p></perch:error>
        <perch:input type="textarea" id="address" required="true" label="Address" cols="20" rows="2" class="required" title="Address"/>
        </div><!-- row -->

        <div class="row">
        <div class="inline">      
        <perch:label for="postcode">Postcode</perch:label>
        <perch:error for="postcode" type="required"><p class="error">Please provide your postcode</p></perch:error>
        <perch:input type="text" id="postcode" required="true" label="Postcode" cols="20" rows="2" class="required" title="Postcode"/>
        </div>  </div><!-- row -->

        

        <div class="row">
<perch:if exists="smallprint"><small><perch:content id="smallprint" type="textarea" label="Small print" html="false" size="xs"  help="Your personal details will be held securely by Euxton Lane Developments Ltd in accordance with the Data Protection Act 2000, and will be
used solely in connection with this consultation and any subsequent planning applications, and will not be passed to any third parties." /></small></perch:if>
</div>
            
  

  <div class="row">
<perch:input class="btn submit" title="Submit form" type="submit" id="submit" value="Send feedback"/>
</div>

    
        <perch:success>
        <perch:content divider-before="Thank you message" id="success" type="textarea" label="Thank you message" markdown="true" size="m" editor="markitup" help="E.g. Thank you for taking the time to complete this form."/>
        </perch:success>
    
</perch:form>
   
   </div></div>
</section>
