<div class="row call-to-action">
	<div class="inner-container">
	<img src="perch/addons/feathers/d3feather/img/d3-creative-logo-white.png" alt="">
		<p>I welcome the opportunity to talk to you about your business</p>
		<a class="btn" href="#">Let's talk</a>
	</div>
</div>