<div class="pad contact-details">
<ul class="stacked list">
<li><strong class="company-name"><perch:if exists="company-name"><perch:content id="company-name" type="text" label="Company name" html="false" /></perch:if></strong></li>
<perch:if exists="address-line-1"><li><perch:content id="address-line-1" type="text" label="Address line 1" html="false" /></li></perch:if>
<perch:if exists="address-line-2"><li><perch:content id="address-line-2" type="text" label="Address line 2" html="false" /></li></perch:if>
<perch:if exists="address-line-3"><li><perch:content id="address-line-3" type="text" label="Address line 3" html="false" /></li></perch:if>
<perch:if exists="address-line-4"><li><perch:content id="address-line-4" type="text" label="Address line 4" html="false" /></li></perch:if>
<perch:if exists="address-line-5"><li><perch:content id="address-line-5" type="text" label="Address line 5" html="false" /></li></perch:if>
<perch:if exists="postcode"><li><perch:content id="postcode" type="text" label="Postcode" html="false" /></li></perch:if>
</ul>

<ul class="stacked list numbers">
<perch:if exists="phone-number">
<li><strong>T:</strong><a class="digits telephone" title="<perch:content id="phone-number" type="text" label="Telephone number" html="false"  />" href="tel:<perch:content id="phone-number" type="text" label="Telephone number" html="true" urlencode="true"  />"><perch:content id="phone-number" />
</li></a></perch:if>
<perch:if exists="fax-number">
<li><strong>F:</strong><a class="digits fax" title="<perch:content id="fax-number" type="text" label="Fax number" html="false"  />" href="tel:<perch:content id="fax-number" type="text" label="Fax number" html="true" urlencode="true"  />"><perch:content id="fax-number" />
</li></a></perch:if>
<perch:if exists="mobile-number">
<li><strong>M:</strong><a class="digits mobile" title="<perch:content id="mobile-number" type="text" label="Mobile number" html="false"  />" href="tel:"<perch:content id="mobile-number" type="text" label="Mobile number" html="true" urlencode="true"  />"><perch:content id="mobile-number" />
</li></a></perch:if>
<perch:if exists="email-address-1"><li><strong>E:</strong><a class="email" title="<perch:content id="email-address-1" type="text" label="Email address" html="false"  />" href="mailto:<perch:content id="email-address-1" />"><perch:content id="email-address-1" /></a></li></perch:if>

</ul>

<perch:if exists="media-company-name"><h3 class="">Media enquiries</h3>
<ul class="stacked list media-enquiries">

<perch:if exists="media-company-name"><li class="strong"><perch:content id="media-company-name" type="text" label="Media company name" html="false"  /></li></perch:if>
<perch:if exists="media-name"><li><perch:content id="media-name" type="text" label="Media contact" html="false"   /></li></perch:if>

<perch:if exists="media-phone-number"><li><strong>T:</strong><a class="digits telephone" title="<perch:content id="media-phone-number" type="text" label="Telephone number" html="false"  />" href="tel:<perch:content id="media-phone-number" html="true" urlencode="true" />"><perch:content id="media-phone-number" /></a></li></perch:if>

<perch:if exists="email-address"><li><strong>E:</strong><a class="email" title="<perch:content id="email-address" type="text" label="Email address" html="false"  />" href="mailto:<perch:content id="email-address" />"><perch:content id="email-address" /></a></li></perch:if>
</ul>
</perch:if>
</div>







