<section class="row columns equal-height two-col no-gutter flip span-4-8 cta">
	<div class="inner-container">
			
	<div class="main"><img src="/perch/addons/feathers/d3feather/img/iStock-000014925124XSmall.jpg" alt="Woman using hands free headset">

		<div class="pad">

	

<perch:if exists="phone-number">
<h4><perch:content id="text" type="text" label="Text" html="false"  title="true"  />&nbsp;<a class="telephone" title="<perch:content id="phone-number" type="text" label="Telephone number" html="false"  />" href="tel:<perch:content id="phone-number" html="true" urlencode="true" />"><perch:content id="phone-number" /></a></h4>

<perch:else />
<h4><perch:content id="text" type="text" label="Text" html="false"  title="true"  /></h4>

</perch:if>

		
		<p><perch:content id="textarea" type="textarea" label="Text area" html="false" size="xs" help="A member of our friendly team is waiting to take your call." chars="59" count="chars" append="..." /></p>

		<perch:if exists="btn-txt"><a class="btn solid primary" title="<perch:content id="btn-txt" type="text" label="Text for button" help="e.g: Tell me more" html="false"  />" href="<perch:content id="btn-link" type="text" label="Button URL" help="e.g: /contact" html="false" title="true" />"><perch:content id="btn-txt" /><i class="fa fa-caret-right"></i></a></perch:if>

		</div>
	</div>


<aside class="testimonial"><blockquote><perch:if exists="textarea-2"><p><perch:content divider-before="Mini testimonial" id="textarea-2" type="textarea" label="Testimonial" html="false" size="xs" help="Short testimonial" chars="92" count="chars" append="..." /></p></perch:if>

<footer><perch:if exists="name"><perch:content id="name" type="text" label="Name" html="false" help="E.g. Colin Abbott"  /></perch:if>&nbsp;<perch:if exists="position"><perch:content id="position" type="text" label="Position" html="false" help="E.g. Contracts Manager"  /></perch:if>&nbsp;<perch:if exists="company"><perch:content id="company" type="text" label="Company name" html="false" help="E.g. Galliford Try"  /></perch:if></footer>
</blockquote></aside>

		</div></section>










