<div class="row home-intro">
    <div class="inner-container two-col-absolute">
        <div class="main">
        <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source
    media="(min-width: 500px)"
    sizes="260px"
    srcset="<perch:content divider-before="Profile photo" type="image" id="profile-image" label="Profile image" width="260" /> 260w,
           <perch:content type="image" id="profile-image" label="Profile image" width="520" /> 520w"
         
    >

  <perch:if exists="mf-headshot">
    <source
    media="(max-width: 499px)"
    sizes="110px"
    srcset="<perch:content type="image" id="mf-headshot" label="Headshot" help="Headshot for small screens." width="110" /> 110w,
            <perch:content type="image" id="mf-headshot" label="Headshot" width="220" /> 220w"
    ></perch:if><!--[if IE 9]></video><![endif]-->
    <img class="profile-image"
    src="<perch:content type="image" id="profile-image" width="260" label="Profile image" help="Full size image for large screens" />" alt="<perch:content type="text" id="alt" label="Description" required="true" help="Description of subject of these images." title="true" />">

</picture>
            <div class="pad">
                <perch:if exists="textarea"><perch:content id="textarea" type="textarea" label="Text area" html="false" size="xs" title="true" markdown="true" editor="markitup"  /></perch:if>
                <perch:if exists="text"><small><perch:content id="text" type="text" label="Name" html="false" /></small></perch:if>

<perch:if exists="btn-txt"><a class="btn" title="<perch:content id="btn-txt" type="text" label="Text for button" help="e.g: Tell me more" html="false"  />" href="<perch:content id="btn-link" type="text" label="Button URL" help="e.g: /contact" html="false" title="true" />"><perch:content id="btn-txt" /></a></perch:if>
                </div>
        </div><!-- Main -->
        <aside>
            <div class="pad list-with-icons">
                <perch:if exists="list-heading"><h3><perch:content id="list-heading" type="text" label="List heading" html="false" help="Key features:" /></h3></perch:if>
                
                <perch:if exists="aside-textarea"><perch:content id="aside-textarea" type="textarea" label="Service features" html="false" size="s"  markdown="true" editor="markitup"  /></perch:if>
            </div><!-- pad -->
        </aside>
    </div><!-- inner-container -->
</div><!-- row -->





