<div class="pad">
<perch:template path="content/blocks/intro.html" />
 <perch:template path="content/default/text_block.html" />
<perch:blocks>
  <perch:block type="file-downloads" label="Case studies">
    <perch:template path="content/blocks/document-downloads.html" />
  </perch:block>
  <perch:block type="grid-client-logos" label="Client logos">
    <perch:template path="content/blocks/grid-client-logos.html" />
  </perch:block>
   <perch:block type="testimonial" label="Testimonial">
    <perch:template path="content/blocks/testimonial.html" />
  </perch:block>
</perch:blocks>
</div>