<perch:blocks>
	<perch:before>
<div class="mixed-content">
	</perch:before>

 
		<perch:block type="text" label="Text">
			   <div class="pad"><perch:content id="text" type="textarea" markdown="true" editor="markitup" size="s" label="Text" /></div>
		</perch:block>



		<perch:block type="pullquote" label="Pull quote">
				
				<perch:if exists="position">

<blockquote class="<perch:content order="4" id="position" type="select" options="Full width|full-width,Pull right|position-right,Pull left|position-left" label="Alignment" />">
						      <perch:content id="quote" type="textarea" markdown="true" size="xs" label="Quote" />
						      <perch:if exists="cite"><cite>&mdash; <perch:content id="cite" help="Optional" type="smarttext" label="By" /></cite></perch:if>
						</blockquote>



</perch:if>


		</perch:block>
 
		<perch:block type="image" label="Big image">
			

<perch:if exists="no-pad">
		
		<figure class="<perch:content order="3" id="no-pad" type="checkbox" label="Remove padding" value="no-pad" help="Check this box to remove padding from image." />">
		<img src="<perch:content order="1" id="image" type="image" width="1600" label="Image" />" class="img-responsive" />
		<perch:if exists="caption-big-image"><figcaption><perch:content order="2" id="caption-big-image" help="Optional" type="smarttext" label="Caption" /></figcaption></perch:if>
		</figure>
		





<perch:else />
		
		<figure class="pad">
		<img src="<perch:content id="image" type="image" width="1600" label="Image" />" class="img-responsive" />
		<perch:if exists="caption-big-image"><figcaption><perch:content order="2" id="caption-big-image" help="Optional" type="smarttext" label="Caption" /></figcaption></perch:if>
		</figure>
		
</perch:if>



		</perch:block>
 
		<perch:block type="inlineimage" label="Inline image">
			<figure class="inline <perch:content order="4" id="class" type="select" options="Pull right|position-right,Pull left|position-left" label="Alignment" />">
			     <img src="<perch:content order="1" id="image-1" type="image" label="Image" width="360"  />" alt="<perch:content id="image-1-alt" type="text" label="Alt tag" help="An alt tag is a text alternative for an image. It is used by screenreaders and other site readers as an alternative to the image itself." />" srcset="<perch:content id="image-1" type="image"  width="360" label="Image" density="2" /> 2x">
			<perch:if exists="caption-inline-image"><figcaption><perch:content order="2" help="Optional" id="caption-inline-image" type="smarttext" label="Caption" /></figcaption></perch:if>
			</figure>
		</perch:block>
 
	<perch:after></div></perch:after>
</perch:blocks>







