<div class="row project-spotlight">
    <div class="inner-container">
        <img src="perch/addons/feathers/d3feather/img/project-spotlight-1.jpg" alt="">
        <div class="wrap">
            <div class="pad">
                <small>Project spotlight</small>
                <h2>Russells Construction</h2>
                <p>A leading North West main contractor, Russells Construction undertakes new build &amp; refurbishment projects for developers and end users across the region.</p>
                <a class="btn" href="#">Happy clients</a></div>
        </div>
    </div>
</div>
