<perch:before>
<h3>Categories</h3>
<ul>
</perch:before>
    <li><a href="/news/category/<perch:category id="catSlug" />"><perch:category id="catTitle" /> (<perch:category id="count.blog.post" when-empty="0" />)</a></li>
<perch:after></ul></perch:after>