///////////////////////////////////////////
// **** IE HEROES **** 
///////////////////////////////////////////
html.ie8 {
    ///////////////////////////////////////////
    // Typography
    ///////////////////////////////////////////
    .hero {
        h1 {
            @include font-size(1.6);
            @include font-size(4.1);
        }
        p {
            @include font-size(1.6);
        }
    }
    ///////////////////////////////////////////
    // Links
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Colour
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Layout
    ///////////////////////////////////////////
    body.fixed-mast .hero {
        // margin-top: Needs to match current height of .mast @ breakpoint $B-800
        margin-top: 108px;
        z-index: 98;
        top: 0;
        position: fixed;
        width: 100%;
    }
    .hero .inner-container {
        height: $hero-height-3;
    }
    // Left and right padding if hero has headline, button or sub-heading
    .hero .inner-container {
        &.has-headline,
        &.has-button,
        &.has-sub-heading {
            padding-right: 2em;
            padding-left: 2em;
        }
    }
    // Top and bottom padding if hero ONLY has-headline, has-button or has-sub-heading
    .hero .inner-container {
        &.has-headline {
            padding-top: 12em;
            padding-bottom: 0;
        }
        &.has-button,
        &.has-sub-heading {
            padding-top: 17em;
            padding-bottom: 0;
        }
    }
    // Top and bottom padding if hero has-headline & has-button
    // Top and bottom padding if hero has-headline & has-sub-heading
    .hero .inner-container {
        &.has-headline.has-button,
        &.has-headline.has-sub-heading {
            padding-top: 10em;
            padding-bottom: 0;
        }
    }
    .hero .inner-container.position {
        &.left {
            padding-right: 20em;
        }
        &.right {
            padding-left: 20em;
        }
        &.center {
            padding-left: 9em;
            padding-right: 9em;
        }
    }
    .hero {
        img {
            // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            // https://css-tricks.com/snippets/css/cross-browser-opacity/
            width: 1200px;
            margin: 0 auto;
        }
    }
}