@import "vars-hero";

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.hero {
    h1 {
        @include font-size(1.6);
        margin-bottom: 0.3em;
        font-weight: bold;
        @include breakpoint($B-460) {
            @include font-size(2.4);
        }

        @include breakpoint($B-600) {
            @include font-size(3);
            line-height: 1.3em;
        }

        @include breakpoint($B-910) {
            @include font-size(3.6);
        }

        @include breakpoint($B-1004) {
            @include font-size(4.1);
        }
    }
    p {
        margin-bottom: 0;
        @include font-size(1.2);
        @include breakpoint($B-460) {
            @include font-size(1.5);
        }

        @include breakpoint($B-910) {
            @include font-size(1.6);
        }
    }
    // Hero text alignment
    .inner-container.position {
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
        &.center {
            text-align: center;
        }
    }
}

///////////////////////////////////////////
// Links / buttons
///////////////////////////////////////////

a.btn.primary {
    @include btn($primary, $primary, $wht, transparent, $wht, $wht, $margin: 0);
    // @include btn(background, border, text-colour, hover-bg, hover-border, hover-text, line-height, margin, padding, radius);
}

a.btn.secondary {
    @include btn(transparent, $wht, $wht, $wht, $wht, $dark, $margin: 0);
}

.hero .inner-container.has-headline.has-button {
    a.btn.primary {
        @include btn($primary, $primary, $wht, transparent, $wht, $wht, $margin: 1.5em 0.7em 0 0);
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

.hero {
    background: $dark;
    h1, h2, h3, h4, h5, h6, p {
        color: $wht;
    }
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

body.fixed-mast .hero {
    @include breakpoint($B-800) {
        // margin-top: Needs to match current height of .mast @ breakpoint $B-800
        margin-top: 108px;
        z-index: 98;
        top: 0;
        position: fixed;
        width: 100%;
    }
}

///////////////////////////////////////////
// .banner.transparent 
///////////////////////////////////////////
.banner.transparent {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    padding-top: 2em;
    h1 {
        margin-left: 5.5em;
    }
    a.link {
        &:link, &:active, &:visited {
            color: $wht;
            position: absolute;
            right: 2em;
            bottom: 3em;
            height: 40px;
            width: 40px;
            background: $wht;
        }
        &:hover, &:focus {}
    }
}

img.hero-logo {
    width: auto;
    position: absolute;
    top: 3em;
    left: 3em;
    &.bottom {
        top: auto;
        bottom: 3em;
    }
}

///////////////////////////////////////////
// END .banner.transparent 
///////////////////////////////////////////
.hero {
    position: relative;
    width: 100%;
    height: auto;
    border: 0;
}

// Default .inner-container settings
.hero .inner-container {
    // SEE _VARIABLES.SCSS 
    // z-index: keeps text above the image
    z-index: 1;
    padding-top: 25%;
    padding-bottom: 25%;
    @include breakpoint($B-800) {
        padding-top: 0;
        padding-bottom: 0;
        height: $hero-height-1;
    }

    @include breakpoint($B-910) {
        height: $hero-height-2;
    }

    @include breakpoint($B-1050) {
        height: $hero-height-3;
    }
}

// Left and right padding if hero has headline, button or sub-heading
.hero .inner-container {
    &.has-headline,
    &.has-button,
    &.has-sub-heading {
        padding-right: 1em;
        padding-left: 1em;
        @include breakpoint($B-745) {
            padding-right: 2em;
            padding-left: 2em;
        }
    }
}

// Top and bottom padding if hero ONLY has-headline, has-button or has-sub-heading
.hero .inner-container {
    &.has-headline {
        padding-top: 15%;
        padding-bottom: 20%;
        @include breakpoint($B-800) {
            padding-bottom: 0;
            padding-top: 10em;
        }

        @include breakpoint($B-910) {
            padding-top: 12em;
        }
    }
    &.has-button,
    &.has-sub-heading {
        padding-top: 20%;
        padding-bottom: 20%;
        @include breakpoint($B-800) {
            padding-top: 17em;
            padding-bottom: 0;
        }
    }
}

// Top and bottom padding if hero has-headline & has-button
// Top and bottom padding if hero has-headline & has-sub-heading
.hero .inner-container {
    &.has-headline.has-button,
    &.has-headline.has-sub-heading {
        padding-top: 14%;
        padding-bottom: 12%;
        @include breakpoint($B-500) {
            padding-top: 12%;
            padding-bottom: 10%;
        }

        @include breakpoint($B-800) {
            padding-top: 10em;
            padding-bottom: 0;
        }
    }
}

.hero .inner-container.position {
    &.left {
        @include breakpoint($B-745) {
            padding-right: 20em;
        }
    }
    &.right {
        @include breakpoint($B-745) {
            padding-left: 20em;
        }
    }
    &.center {
        @include breakpoint($B-745) {
            padding-left: 9em;
            padding-right: 9em;
        }
    }
}

// .wrap controls how the image is postioned
.hero .wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    video {
        position: absolute;
        z-index: -1;
        // opacity: 0.7;
        width: 100%;
    }
    img {
        margin: 0 auto;
    }
    // Setting to contrain image in CMS
    &.constrained-img {
        img {
            max-width: 1200px;
        }
    }
}

///////////////////////////////////////////
// IMPORT
///////////////////////////////////////////

@import "theme-hero";
@import "heroes_ie";