///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.hero {
    h1, p {
        @include text-shadow;
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////



///////////////////////////////////////////
// Colour
///////////////////////////////////////////

.hero {
    background: $dark;
    h1, p {
        color: $wht;
    }
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.hero {
    .wrap {
        img {
            opacity: 1;
        }
    }
}