///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

///////////////////////////////////////////
// Links
///////////////////////////////////////////

a.logo.website {
    display: block;
    // margin-top: 1em;
    // margin-bottom: 1em;
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.index .global-mast {
    border-bottom: 3px solid $primary;
}

.global-mast {
    .inner-container {
        position: static;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    a.logo.website {
        img {
            width: 170px;
        }
    }
}

a.logo.website {
    img {
        padding: 2em 0 2em 1em;
        width: 170px;
    }
}

@include breakpoint($B-800) {
    a.logo.website {
        img {
            width: 195px;
            float: left;
            padding: 2em 0 2em 2em;
        }
    }
}