///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

// http://codepen.io/amustill/pen/snahq

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

dl.responsive-tabs {
    dt {
        @include font-size(1.4);
    }
    p {
        @include font-size(1.3);
    }
}

@include breakpoint($B-745) {
    dl.responsive-tabs {
        dt {
            @include font-size(1.4);
        }
    }
    .responsive-tabs-placeholder {
        h6 {
            @include font-size(2);
        }
        .intro p {
            @include font-size(1.8);
        }
        p {
            @include font-size(1.5);    
        }
    }
}


///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

///////////////////////////////////////////
// Layout
///////////////////////////////////////////
dl, dt, dd {
    margin: 0;
    padding: 0;
}

.responsive-tabs {
    margin: 0;
    text-align: center;
}

.responsive-tabs dt {
    padding: 0.5em;
    border-top: 1px solid #ccc;
    cursor: pointer;
    text-transform: uppercase;
}

.responsive-tabs dt:first-child {
    border-top: 0;
}

.responsive-tabs .active {
    background-color: #ccc;
}

.responsive-tabs .active + dd {
    display: block;
}

.responsive-tabs dd {
    display: none;
    padding: 0.5em;
}

.responsive-tabs-placeholder {
    display: none;
}

.tab-row {
    // padding: 2em 0;
}

img.tabImg {
    margin: 1em auto 1em auto;
    width: 175px;
}

// @media only screen and (min-width: 350px) {
//     img.tabImg {
//         width: auto;
//     }
// }

@include breakpoint($B-550) {
    .responsive-tabs {
        position: relative;
        text-align: left;
    }
    img.tabImg {
        margin: 0 0 0 2em;
        float: right;
    }
    .responsive-tabs dd {
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .responsive-tabs dt {
        text-align: center;
    }
    .overflow {
        overflow: hidden;
        margin-right: 2em;
    }
    .has-img {
        min-height: 130px;
    }
}


@include breakpoint($B-640) {
    img.tabImg {
        width: 250px;
    }
    .has-img {
        min-height: 190px;
    }
}


@include breakpoint($B-745) {
    .responsive-tabs {
        text-align: center;
        margin-bottom: 2em;
        dt.btn.outline {
            background-color: $wht;
            border: 1px solid $grey-90;
            border-radius: 25px;
            padding: 10px 15px;
            color: $grey-70;
            &.active {
                border: 1px solid $grey-20;
                color: $grey-20;
            }
        }
    }
    .responsive-tabs dt {
        // float: left;
        display: inline-block;
        border-top: 0;
        margin-right: 0.5em;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .responsive-tabs .active + dd {
        display: none;
    }
    .responsive-tabs-placeholder {
        clear: both;
        display: block;
        padding: 2em 2em 2em 2em;
        border-top: 1px solid #ccc;
    }
    .tab-row {
        background-color: $wht;
        .inner-container {
            padding: 4em 0;
        }
    }
}


@include breakpoint($B-960) {
    img.tabImg {
        width: auto;
    }
    .has-img {
        min-height: 260px;
    }
}