.row.floorplans {
    h6 {
        text-align: center;
    }
    dd {
        background: $wht;
    }
    img {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    table {
        text-align: left;
        margin: 0 auto 2em auto;
        th {
            font-weight: bold;
        }
        small {
            margin-bottom: 0;
        }
    }
    @include breakpoint($B-460) {
        img {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include breakpoint($B-640) {
        img {
            float: left;
            max-width: 300px;
            margin-right: 2em;
            margin-top: 0;
        }
    }

    @include breakpoint($B-736) {
        table {
            margin-right: 0;
            width: 100%;
        }
        img {
            max-width: 350px;
        }
    }

    @include breakpoint($B-745) {
        .responsive-tabs-placeholder {
            min-height: 360px;
        }
        table {
            margin-top: 0.5em;
        }
    }

    @include breakpoint($B-910) {
        img {
            max-width: 450px;
            margin-right: 4em;
        }
        table {
            td, th {
                padding-top: 0.6em;
                padding-bottom: 0.6em;
            }
        }
        h6 {
            text-align: left;
            float: left;
            margin-bottom: 0;
            margin-left: 1em;
        }
    }

    @include breakpoint($B-1024) {
        img {
            max-width: 500px;
        }
    }
}