///////////////////////////////////////////
// Mixins
///////////////////////////////////////////

///////////////////////////////////////////
// Button padding and margin
///////////////////////////////////////////

$pad-default: 10px 30px;
$margin-default: 0 0 16px 0;

@mixin btn($padding: $pad-default, $margin: $margin-default) {
    padding: $padding;
    margin: $margin;
}

///////////////////////////////////////////
// Button size is controlled by font-size
///////////////////////////////////////////

$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 22px;

@mixin btn-size($font-size: $font-size-s) {
    font-size: $font-size;
}

///////////////////////////////////////////
// Theme
///////////////////////////////////////////

@mixin btn-theme($background: $grey-60, $border-width: 1px, $border-color: $grey-60, $background-hover: $grey-20, $border-color-hover: $grey-20, $color: $wht, $color-hover: $wht) {
    background: $background;
    border-width: $border-width;
    border-color: $border-color;
    color: $color;
    &:link, &:active, &:visited {
        color: $color;
    }
    &:hover, &:focus {
        background: $background-hover;
        border-color: $border-color-hover;
        color: $color-hover;
    }
}

///////////////////////////////////////////
// Icon sprites
///////////////////////////////////////////
$icon-chevron-right: image-url("/perch/addons/feathers/d3feather/img/icon-chevron-right.png") no-repeat;
$icon-chevron-left: image-url("/perch/addons/feathers/d3feather/img/icon-chevron-left.png") no-repeat;
$icon-chevron-right-white: image-url("/perch/addons/feathers/d3feather/img/icon-chevron-right-white.png") no-repeat;
$icon-chevron-left-white: image-url("/perch/addons/feathers/d3feather/img/icon-chevron-left-white.png") no-repeat;
$icon-info: image-url("/perch/addons/feathers/d3feather/img/icon-info.png") no-repeat;

@mixin btn-icon($icon-sprite: $icon-chevron-right, $background-position: 0 0) {
    background: $icon-sprite;
    background-position: $background-position;
    background-size: 100%;
}

.btn {
    i {
        @include btn-icon;
    }
    i.icon-chevron-left {
        @include btn-icon($icon-sprite: $icon-chevron-left);
    }
    i.icon-chevron-left-white {
        @include btn-icon($icon-sprite: $icon-chevron-left-white);
    }
    i.icon-chevron-right {
        @include btn-icon($icon-sprite: $icon-chevron-right);
    }
    i.icon-chevron-right-white {
        @include btn-icon($icon-sprite: $icon-chevron-right-white);
    }
    i.icon-info {
        @include btn-icon($icon-sprite: $icon-info);
    }
}

///////////////////////////////////////////
// Classes
///////////////////////////////////////////

.btn {
    @include btn-size;
    @include btn;
    border-width: 1px;
    border-style: solid;
    position: relative;
    display: inline-block;
    text-decoration: none;
    vertical-align: bottom;
    transition: all 0.3s ease 0s;
    border-color: $grey-20;
    color: $grey-20;
    &:link, &:active, &:visited {
        color: $grey-20;
    }
    &:hover, &:focus {
        background: $grey-20;
        border-color: $grey-20;
        color: $wht;
        i {
            background-position: 0 -1em;
        }
    }
    i {
        position: relative;
        margin-left: 0.5em;
        display: inline-block;
        top: 2px;
        right: 0;
        width: 1em;
        height: 1em;
    }
}

.btn-pill {
    border-radius: 2em;
}

// Icon buttons

.btn-icon {
    @include btn($padding: 10px 22px 10px 30px);
    &.icon-left {
        @include btn($padding: 10px 30px 10px 22px);
        i {
            margin-left: 0;
            margin-right: 0.5em;
        }
    }
}

// primary
.btn-theme-primary-fill {
    @include btn-theme($background: $primary, $border-color: $primary, $background-hover: lighten($primary, 20%), $border-color-hover: lighten($primary, 20%), $color: $wht);
}

.btn-theme-primary-outline {
    @include btn-theme($background: transparent, $border-color: $primary, $background-hover: lighten($primary, 20%), $border-color-hover: lighten($primary, 20%), $color: $primary);
}

// secondary
.btn-theme-secondary-fill {
    @include btn-theme($background: $secondary, $border-color: $secondary, $background-hover: darken($secondary, 20%), $border-color-hover: darken($secondary, 20%), $color: $wht);
}

.btn-theme-secondary-outline {
    @include btn-theme($background: transparent, $border-color: $secondary, $background-hover: darken($secondary, 20%), $border-color-hover: darken($secondary, 20%), $color: $secondary);
}

// dark
.btn-theme-dark-fill {
    @include btn-theme($background: $grey-20, $border-color: $grey-20, $background-hover: $grey-40, $border-color-hover: $grey-40, $color: $wht);
}

.btn-theme-dark-outline {
    @include btn-theme($background: transparent, $border-color: $grey-20, $background-hover: transparent, $border-color-hover: $grey-70, $color: $dark, $color-hover: $grey-70);
}

// light
.btn-theme-light-fill {
    @include btn-theme($background: $grey-90, $border-color: $grey-90, $background-hover: $grey-20, $border-color-hover: $grey-20, $color: $grey-50, $color-hover: $wht);
}

.btn-theme-light-outline {
    @include btn-theme($background: transparent, $border-color: $grey-80, $background-hover: $grey-20, $border-color-hover: $grey-20, $color: $grey-50, $color-hover: $wht);
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

@include breakpoint($B-800) {
    .btn-medium {
        @include btn-size($font-size: $font-size-m);
    }
    .btn-large {
        @include btn-size($font-size: $font-size-l);
    }
}


// http://stackoverflow.com/questions/2918707/turn-off-iphone-safari-input-element-rounding
// As pointed out by others, this no longer removes the rounded corners in Safari on iOS 5. Those corners are now controlled by good ol' border-radius: