$grey-10: #1a1a1a;
$grey-20: #333333;
$grey-30: #4d4d4d;
$grey-40: #666666;
$grey-50: #808080;
$grey-60: #999999;
$grey-70: #b3b3b3; 
$grey-80: #cccccc; 
$grey-90: #e6e6e6;



$body: #F7F7F7;


$dark: $grey-10;
$light: #e3e3e3;

$grey: $grey-30;
$light-grey: $grey-60;

$wht: #ffffff;
$off-wht: #F7F7F7;


$warning: #f44;
$success: #82B68C;