$primary: #192857; // Russell Homes dark blue
$secondary: #6EAADC; // Russell Homes light blue

// Russell Homes project colours
$green-dark: #7DBC5F;
$green-light: #A4DB69;
$sold: #D0021B;


$orange: #FE6100;