///////////////////////////////////////////
// Typography
///////////////////////////////////////////
.banner.page-title {
    h1 {
        margin: 0;
        text-transform: uppercase;
        color: $wht;
    }
    p {
        margin: 0;
        color: $wht;
    }
    .development-phone-number {
        span {
            @include font-size(1.3);
        }
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

.banner.page-title {
    a.telephone {
        &:link, &:active, &:visited {
            color: $wht;
        }
        &:hover, &:focus {}
    }
    @include breakpoint($B-745) {
        a.telephone {
            @include font-size(2);
        }
    }

    @include breakpoint($B-910) {
        a.telephone {
            @include font-size(2.4);
        }
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////
.banner.page-title {
    background: $primary;
    
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////
.development-phone-number {
    @include breakpoint($B-460) {
        position: absolute;
        top: 1.5em;
        right: 2em;
    }

    @include breakpoint($B-745) {
        top: 3.2em;
       
    }
}