///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.breadcrumbs ul.navigation {
    li {
        text-transform: uppercase;
        @include font-size(1.1);
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.breadcrumbs {
    display: none;
    visibility: hidden;
}

@include breakpoint($B-800) {
    .breadcrumbs {
        display: block;
        visibility: visible;

        .pad {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
    .breadcrumbs ul.navigation {
        padding-left: 1em;
    }
}