///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.about-development {
    h2 {
        margin-bottom: 0.5em;
        line-height: 1.3em;
        @include font-size(2);
    }
    p {
        @include font-size(1.4);
    }
    .intro p {
        @include font-size(1.6);
    }
    @include breakpoint($B-745) {
        aside {
            h6 {
                @include font-size(1.6);
            }
        }
    }

    @include breakpoint($B-800) {
        h2 {
            @include font-size(3.6);
        }
        p {
            @include font-size(1.5);
        }
        .intro p {
            font-size: 2.3rem;
            line-height: 1.4em;
        }
    }

    @include breakpoint($B-910) {
        h2 {
            margin-bottom: 0.2em;
        }
        .intro p {
        	margin-bottom: 0.5em;
        }
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

///////////////////////////////////////////
// Layout
///////////////////////////////////////////