<perch:before>
    <ul class="nav-submenu">
</perch:before>
		<li class="nav-submenu-item <perch:if exists="current_page">selected</perch:if>"<perch:if exists="ancestor_page"> class="ancestor"</perch:if>>
            <a title="<perch:pages id="pageNavText" />" href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>   
            
        </li>
<perch:after>
    </ul>
</perch:after>