<perch:before>  
<nav class="nav">
    <ul class="nav-list">
</perch:before>
		<li class="nav-item <perch:if exists="current_page">selected</perch:if>"<perch:if exists="ancestor_page"> class="ancestor"</perch:if>>
            <a title="<perch:pages id="pageNavText" />" href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>   
            <perch:pages id="subitems" encode="false" />
        </li>
<perch:after>
    </ul>
    </nav>

</perch:after>