
///////////////////////////////////////////
// **** MAST THEME **** 
///////////////////////////////////////////


///////////////////////////////////////////
// Typography
///////////////////////////////////////////




///////////////////////////////////////////
// Links
///////////////////////////////////////////



///////////////////////////////////////////
// Colour
///////////////////////////////////////////



///////////////////////////////////////////
// Layout
///////////////////////////////////////////


.tel-wrap {
    display: none;
    top: 1.4em;
    right: 5em;
    position: absolute;
    z-index: 3000;
    i {
        margin-right: 7px;
    }
    @include breakpoint($B-370) {
        display: block;
    }

    @include breakpoint($B-600) {
        display: none;
    }

    @include breakpoint($B-850) {
        display: block;
        top: 4em;
        right: auto;
        right: 400px;
    }

    @include breakpoint($B-910) {
        right: 420px;
    }

    @include breakpoint($B-1004) {
        right: 43em;
    }
}