///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Variables
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////
///////////////////////////////////////////
// Links
///////////////////////////////////////////
///////////////////////////////////////////
// Colour
///////////////////////////////////////////
body.fixed-mast {
    .mast {
        background: #000;
    }
    .page-container {
        background: orange;
    }
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////
body.fixed-mast {
    // margin-top pushes .page-container down to clear .mast and .hero as they're position:fixed.
    @include breakpoint($B-800) {
        margin-top: 508px;
    }

    @include breakpoint($B-910) {
        margin-top: 560px;
    }

    .mast {
        width: 100%;
        @include breakpoint($B-800) {
            z-index: 100;
            top: 0;
            position: fixed;
        }
    }
    .page-container {
        z-index: 99;
    }
}

html.ie8 {
    body.fixed-mast {
        margin-top: 560px;
    }
    .mast {
        z-index: 100;
        top: 0;
        position: fixed;
    }
}