$logo-mobile: 137px;
$logo-desktop: 158px;

///////////////////////////////////////////
// **** MAST BASE **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

header.mast {
    .tel-wrap {
        @include font-size(1.4);
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

///////////////////////////////////////////
// Layout
///////////////////////////////////////////




header.mast {
    .inner-container {
        padding-left: 1em;
        padding-right: 1em;
    }
    @include breakpoint($B-600) {
        .inner-container {
            padding-left: 2em;
            padding-right: 2em;
        }
    }
}

.brand-logo {
    padding: 1em 0 1em 0;
    display: block;
    width: $logo-mobile;
    @include breakpoint($B-600) {
        float: left;
        margin: 2.7em 0 2em 0;
    }

    @include breakpoint($B-800) {
        width: $logo-desktop;
    }
}

///////////////////////////////////////////
// IMPORTS
///////////////////////////////////////////
@import "mast-fixed";
@import "mast-theme";
@import "mast-base-ie";