///////////////////////////////////////////
// **** MAST BASE IE **** 
///////////////////////////////////////////
html.ie8 {
    ///////////////////////////////////////////
    // Typography
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Links
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Colour
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Layout
    ///////////////////////////////////////////
    .brand-logo {
        float: left;
        margin: 2.7em 0 2em 0;
        width: $logo-desktop;
    }
    header.mast {
        .logo-link {
            float: left;
            margin: 2em 0;
            padding-left: 2em;
            width: 186px;
        }
    }
}

//END