<perch:before>
    <ul class="footer-menu last">
</perch:before>
		<li<perch:if exists="current_page"> class="selected"</perch:if><perch:if exists="ancestor_page"> class="ancestor"</perch:if>>
            <i class="fa fa-angle-right"></i><a title="<perch:pages id="pageNavText" />" href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a>   
            <perch:pages id="subitems" encode="false" />
        </li>
<perch:after>
    </ul>
</perch:after>

