// see vars/default-colours.scss

body {
    color: $grey;
    background: $body;
}

// small {
//     color: $grey-60;
// }

// body.two-col {
//     background: $light;
// }

header.global-mast, .mast-main {
    background: $wht;
    // @include box-shadow;
}

.main {
    // background: $wht;
}

aside {
    //
}

.projects.home aside {
    background: $grey-90;
}

.bkg-wht {
    background: $wht;
}