.theme-dark {
    background: $primary;
    color: $grey-80;
    a {
        &:link, &:active, &:visited {
            color: $grey-80;
        }
        &:hover, &:focus {
            color: $wht;
        }
    }
    .sub-heading {
        color: $wht;
    }
}

.theme-wireframe {
    background: #EAEAEA;
    color: $grey-20;
    aside {
        background: #F5F5F5;
    }
    .main {
        background: $wht;
    }
    a {
        &:link, &:active, &:visited {
            color: blue;
        }
        &:hover, &:focus {
            text-decoration: none;
        }
    }
   
}