// Typography
// Links
// Colour
// Layout

// Box model reset --------------------------------------------------
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw */
/* apply a natural box layout model to all elements */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.telephone {
    &:link, &:active, &:visited {
        text-decoration: none;
    }
    &:hover, &:focus {}
    @include breakpoint($B-800) {
        &:hover, &:focus {
            cursor: default;
        }
    }
}

.media-object {
    clear: both;
    .img-wrap {
        float: left;
    }
    .content-wrap {
        overflow: hidden;
        padding: 16px;
    }
}

.magnify {
    overflow: hidden;
    display: block;
    img {
        transition: all .2s ease-in-out;
    }
    img:hover {
        transform: scale(1.1);
    }
}

a {
    &:link, &:active, &:visited {
        color: $grey;
    }
    &:hover, &:focus {
        color: $secondary;
    }
}

.page-container {
    a {
        &:link, &:active, &:visited {
            color: $grey;
            text-decoration: none;
            border-bottom: 1px dotted $grey;
            padding-bottom: 1px;
            font-weight: bold;
        }
        &:hover, &:focus {
            color: $primary;
            text-decoration: none;
            border-bottom: 1px dotted $primary;
        }
    }
}