// Typography
// Links
// Colour
// Layout

/*
    Todd Motto Labs
    URL: www.toddmotto.com
*/

/*------------------------------------*\
    Flaunt JS Navigation
\*------------------------------------*/

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.nav-item a {
    @include font-size(1.3);
    @include breakpoint($B-600) {
        @include font-size(1.4);
    }

    @include breakpoint($B-800) {
        @include font-size(1.5);
    }
}

.nav-submenu-item a {
    @include breakpoint($B-600) {
        @include font-size(1.3);
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

.has-submenu i {
    color: $light;
}

.nav-item a {
    color: #FFF;
    background: $grey;
    border-bottom: 1px solid lighten($grey, 10%);
}

.nav-item > a:hover {
    background: lighten($grey, 10%);
}

.nav-submenu-item a {
    background: lighten($grey, 2%);
}

.nav-submenu-item a:hover {
    background: lighten($grey, 10%);
}

/* Mobile navigation */
.nav-mobile {
    background: $primary url(../img/nav.svg) no-repeat center center;
    background-size: 18px;
}

/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
    border-left: 1px solid lighten($grey, 10%);
}

.nav-click i {
    background: url(../img/drop.svg) no-repeat center center;
    background-size: 20px;
}

.nav-click:hover {
    background-color: $secondary;
}

@include breakpoint($B-600) {
    .nav {
        background: transparent;
    }
    .nav-item a {
        &:link, &:active, &:visited {
            background: transparent;
            color: $grey;
        }
        &:hover, &:focus {
            color: $wht;
            background: $secondary;
        }
    }
    .nav-item.selected > a {
        &:link, &:active, &:visited {
            background: $primary;
            color: $wht;
        }
        &:hover, &:focus {}
    }
    .nav-submenu {
        background: $wht;
    }
}


///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.nav {
    position: relative;
}

.nav-list {
    text-align: left;
}

.nav-submenu {
    display: none;
    position: absolute;
    left: 0;
    width: 180px;
}

.nav-submenu-item a {
    display: block;
    padding: 15px;
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    /* Hide from browsers that don't support media queries */
}

/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    i {
        display: block;
        height: 48px;
        width: 48px;
    }
}

.nav-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

@include breakpoint($B-max-599) {
    .has-submenu i {
        display: none;
        visibility: hidden;
    }
    .nav-mobile {
        display: block;
        cursor: pointer;
        position: absolute;
        top: -4.8em;
        z-index: 1000;
        right: 1em;
        height: 40px;
        width: 40px;
    }
    .nav {
        width: 100%;
        padding: 0;
    }
    .nav-list {
        display: none;
    }
    .nav-item {
        width: 100%;
        float: none;
    }
    .nav-item {
        display: inline-block;
        *display: inline;
        //ie7 fix
        zoom: 1;
        //ie7 fix
        position: relative;
        a {
            display: block;
            text-decoration: none;
        }
        &:hover .nav-submenu {
            display: block;
        }
    }
    .nav-item > a {
        padding: 15px;
    }
    .nav-click {
        display: block;
    }
    .nav-mobile-open {
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
    }
    .nav-item:hover .nav-submenu {
        display: none;
    }
    .nav-submenu {
        position: static;
        width: 100%;
    }
}


@include breakpoint($B-600) {
    .nav {
        z-index: 1000;
        width: auto;
        text-align: right;
        float: right;
        // padding-right: 1em;
    }
    .nav-list {
        width: auto;
        float: none;
        display: inline-block !important;
        *display: inline;
        //ie7 fix
        zoom: 1;
        //ie7 fix
        margin-top: 4.2em;
    }
    .has-submenu i {
        display: inline-block;
        *display: inline;
        //ie7 fix
        zoom: 1;
        //ie7 fix
        visibility: visible;
        margin-right: 5px;
    }
    .nav-item {
        float: left;
        position: relative;
        .nav-submenu {
            margin-top: 10px;
            display: none !important;
            @include box-shadow;
        }
        &:hover .nav-submenu {
            display: block !important;
        }
    }
    .nav-item a {
        text-decoration: none;
    }
    .nav-item > a {
        &:link, &:active, &:visited {
            padding: 10px 12px;
            margin: 0;
            border-bottom: none;
            // border-radius: 2px;
       
        }
        &:hover, &:focus {}
    }
    .nav-submenu-item a {
        &:link, &:active, &:visited {
            margin-left: 0;
            padding: 10px 14px;
            border-bottom-color: $light;
        }
        &:hover, &:focus {}
    }
    .nav-submenu-item:last-child {
        a {
            border-bottom: none;
        }
    }
}


@include breakpoint($B-800) {
    .nav-list {
        margin-top: 5.5em;
    }
}


@include breakpoint($B-910) {
    .nav-item a {
        &:link, &:active, &:visited {
            padding-left: 14px;
            padding-right: 14px;
        }
        &:hover, &:focus {}
    }
}


///////////////////////////////////////////
// IE 8
///////////////////////////////////////////

// Typography
// Links
// Colour
// Layout

html.ie8 {
    ///////////////////////////////////////////
    // Typography
    ///////////////////////////////////////////
    .nav-item a {
        @include font-size(1.5);
    }
    .nav-submenu-item a {
        @include font-size(1.3);
    }
    ///////////////////////////////////////////
    // Colour
    ///////////////////////////////////////////
    .nav {
        background: transparent;
    }
    .nav-item a {
        &:link, &:active, &:visited {
            background: transparent;
            color: $secondary;
        }
        &:hover, &:focus {
            color: $wht;
            background: $dark;
        }
    }
    .nav-item.selected > a {
        &:link, &:active, &:visited {
            background: $primary;
            color: $wht;
        }
        &:hover, &:focus {}
    }
    .nav-submenu {
        background: $wht;
    }
    ///////////////////////////////////////////
    // Layout
    ///////////////////////////////////////////
    .nav {
        z-index: 1000;
        width: auto;
        text-align: right;
        float: right;
        padding-right: 1em;
    }
    .nav-list {
        width: auto;
        float: none;
        display: inline-block !important;
        *display: inline;
        //ie7 fix
        zoom: 1;
        //ie7 fix
         margin-top: 5.5em;
    }
    .has-submenu i {
        display: inline-block;
        *display: inline;
        //ie7 fix
        zoom: 1;
        //ie7 fix
        visibility: visible;
        margin-right: 5px;
    }
    .nav-item {
        float: left;
        position: relative;
        .nav-submenu {
            margin-top: 10px;
            display: none !important;
            @include box-shadow;
        }
        &:hover .nav-submenu {
            display: block !important;
        }
    }
    .nav-item a {
        text-decoration: none;
    }
    .nav-item > a {
        &:link, &:active, &:visited {
            padding: 10px 12px;
             padding-left: 14px;
            padding-right: 14px;
            margin: 0;
            border-bottom: none;
            // border-radius: 2px;
       
        }
        &:hover, &:focus {}
    }
    .nav-submenu-item a {
        &:link, &:active, &:visited {
            margin-left: 0;
            padding: 10px 14px;
            border-bottom-color: $light;
        }
        &:hover, &:focus {}
    }
    .nav-submenu-item:last-child {
        a {
            border-bottom: none;
        }
    }
}