///////////////////////////////////////////
// **** IMAGES **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////
figcaption {
    @include font-size(1.2);
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    .border {
        border: 1px solid $light;
    }
}

figure.inline {
    padding: 0;
    margin: 1em  1em  2em  1em;
}

figure {
    &.pad {
        padding-bottom: 1em;
    }
    &.no-pad {
        padding-bottom: 1em;
        figcaption {
            padding-left: 10px;
        }
    }
}

@include breakpoint($B-460) {
    figure.inline {
        width: 50%;
        float: right;
        margin-left: 1.5em;
        img {
            width: 100%;
        }
    }
}


@include breakpoint($B-550) {
    figure.inline {
        margin-bottom: 1em;
        &.position-right {
            float: right;
        }
        &.position-left {
            float: left;
        }
    }
}


// @include breakpoint($B-667) {
//     figure.inline {
//         &.twentyPercent {
//             width: 35%;
//         }
//         &.thirtyPercent {
//             width: 35%;
//         }
//         &.fortyPercent {
//             width: 35%;
//         }
//     }
// }

@include breakpoint($B-745) {
    figure {
        &.inline {}
        &.pad {
            padding-bottom: 2em;
        }
        &.no-pad {
            padding-bottom: 2em;
            figcaption {
                padding-left: 20px;
            }
        }
    }
}


@include breakpoint($B-1004) {
    figure.inline {
        // &.twentyPercent {
        //     width: 20%;
        // }
        // &.thirtyPercent {
        //     width: 30%;
        // }
        // &.fortyPercent {
        //     width: 40%;
        // }
        &.position-right {
            float: right;
            margin-left: 2em;
        }
        &.position-left {
            float: left;
            margin-right: 2em;
        }
    }
}

