///////////////////////////////////////////
// Base setup
///////////////////////////////////////////

@mixin list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

li {
    margin-bottom: 0.4em;
    position: relative;
}

ul ul, ol ol {
    margin-top: 0.4em;
}

i.icon {
    display: inline-block;
    width: 6px;
    height: 13px;
    margin-right: 5px;
    background: image-url("/perch/addons/feathers/d3feather/img/sprite-cta.png") no-repeat;
    background-position: 1px 3px;
    background-size: 50px 8px;
}

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

li {
    @include font-size(1.4);
    li {
        @include font-size(1.3);
    }
}

// Navigation
.navigation {
    @include list-reset;
    // width: 220px;
    li {
        margin-bottom: 0;
    }
    a {
        &:link, &:active, &:visited {
            text-decoration: none;
            padding: 5px;
            display: block;
        }
        &:hover, &:focus {}
    }
    // Nested <ul>
    ul {
        margin-top: 0;
        padding-left: 0;
        a {
            &:link, &:active, &:visited {
                padding-left: 1em;
            }
            &:hover, &:focus {}
        }
    }
}

.navigation.icons {
    a {
        &:link, &:active, &:visited {
            padding-left: 1.5em;
        }
        &:hover, &:focus {}
    }
    i.icon {
        position: absolute;
        left: 0.5em;
    }
    // Nested <ul>
    ul {
        i.icon {
            left: 1.5em;
        }
        a {
            &:link, &:active, &:visited {
                padding-left: 2.5em;
            }
            &:hover, &:focus {}
        }
    }
}

///////////////////////////////////////////
// Theme
///////////////////////////////////////////
.navigation.list.theme {
    a {
        &:link, &:active, &:visited {
            border-bottom: 1px solid $grey-80;
        }
        &:hover, &:focus {
            background: $grey-90;
            color: $grey-20;
        }
        &.selected {
            background: $grey-20;
            color: $wht;
            i.icon {
                background-position: -44px 4px;
            }
        }
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

// Navigation inline
.navigation.inline {
    li {
        display: inline-block;
    }
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
    // Nested <ul>
    ul {}
}