@mixin font-size($sizeValue: 1.6) {
    font-size: $sizeValue * 10 + px;
    font-size: $sizeValue + rem;
}

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

// Brilliant
// https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
@mixin rem-fallback($property, $values...) {
    $max: length($values);
    $pxValues: "";
    $remValues: "";
    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value * 16}px;
        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }
    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + $value}rem;
        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }
    #{$property}: $pxValues;
    #{$property}: $remValues;
}

// End - Brilliant

@mixin text-shadow {
    text-shadow: 2px 2px 8px rgba(50, 50, 50, 0.6);
}

@mixin box-shadow {
    -webkit-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.3);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin skew {
    content: '';
    border-left: 25px solid red;
    position: absolute;
    top: 0;
    left: -19px;
    height: 100%;
    z-index: 100;
    transform: skew(168deg);
}

// Add this to any element to add angled line
// &::before {
// @include skew;
// border-left-color: pink;
//  }