// Typography
// Links
// Colour
// Layout

// Typography
table {
    @include font-size(1.3);
}

// Colour
table {
    border-color: $light;
    td, th {
        border-color: $light;
    }
    th {
        background: lighten($light, 5%);
    }
}

// Layout
table {
    border-width: 1px;
    border-style: solid;
    margin-bottom: 2em;
    td, th {
        padding: 0.5em;
        border-width: 1px;
        border-style: solid;
    }
}