.style-guide-menu {
    padding-top: 2em;
    .heading {
        float: left;
        @include font-size(1.6);
    }
    select {
        float: right;
        height: 25px;
        border: 1px solid #4D4D4D;
        @include font-size(1.3);
    }
}