<perch:before>
    <ul class="stacked level-2">
</perch:before>
		<li class="stacked-nav-item-2"<perch:if exists="ancestor_page"> class="ancestor"</perch:if>>
            <a <perch:if exists="current_page">class="selected"</perch:if> title="<perch:pages id="pageNavText" />" href="<perch:pages id="pagePath" />"><i class="fa fa-angle-right"></i><perch:pages id="pageNavText" /></a>   
            <perch:pages id="subitems" encode="false" />
        </li>
<perch:after>
    </ul>
</perch:after>