<perch:before>
    <ul class="stacked level-3">
</perch:before>
		<li class="stacked-nav-item-3 <perch:if exists="current_page">selected</perch:if>"<perch:if exists="ancestor_page"> class="ancestor"</perch:if>>
            <a <perch:if exists="current_page">class="selected"</perch:if> title="<perch:pages id="pageNavText" />" href="<perch:pages id="pagePath" />"><i class="fa fa-angle-right"></i><span><perch:pages id="pageNavText" /></span></a>   
            <perch:pages id="subitems" encode="false" />
        </li>
<perch:after>
    </ul>
</perch:after>