<perch:before>
<perch:if exists="subitems"><nav>
    <ul class="stacked">
  </perch:if>
</perch:before>
<perch:if exists="subitems">
		<li class="stacked-nav-item"<perch:if exists="ancestor_page"> class="ancestor"</perch:if>>
            <a <perch:if exists="current_page">class="selected"</perch:if> title="<perch:pages id="pageNavText" />" href="<perch:pages id="pagePath" />"><i class="fa fa-angle-right"></i><span><perch:pages id="pageNavText" /></span></a>   
            <perch:pages id="subitems" encode="false" />
        </li>
        </perch:if>
<perch:after>
   <perch:if exists="subitems"> </ul>
    </nav> </perch:if>
</perch:after>

