///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////
.home-card {
    .heading {
        display: block;
        @include font-size(1.7);
        line-height: 1.2em;
    }
    .sub-heading {
        display: block;
        @include font-size(1.3);
        line-height: 1.3em;
        margin-top: 5px;
    }
    p {
        @include font-size(1.3);
        line-height: 1.3em;
        margin-top: 5px;
        margin-bottom: 0;
    }
    @include breakpoint($B-745) {
        .heading {
            @include font-size(2);
        }
    }

    @include breakpoint($B-910) {
        &.large {
            .home-body {
                .heading, .sub-heading, p {
                    color: $wht;
                }
                .heading {
                    @include font-size(3);
                }
            }
        }
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

a.home-cta {
    @include btn-v2($bg: transparent, $radius: 3px, $text: $grey-20, $text-transform: none, $margin: 5px 0 0 0, $padding: 2px 3px 2px 6px, $font-weight: normal, $border-style: solid, $border-color: $grey-80, $hover-bg: none, $hover-border: none, $hover-text: $grey-20);
    &:link,
    &:active,
    &:visited {
        line-height: 1.5em;
        @include font-size(1.3);
        text-align: left;
        i.chevron {
            background: image-url("sprite-cta.png") no-repeat;
            background-size: 60px 10px;
            background-color: transparent;
            border-radius: 0;
            background-position: 0px 0px;
            display: inline-block;
            position: static;
            width: 11px;
            height: 18px;
            margin-bottom: -9px;
            margin-left: 5px;
        }
        // @include breakpoint($B-370) {
        //     margin-top: 10px;
        // }
   
    }
    &:hover,
    &:focus {
        border-color: $grey-20;
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////
.row.three-col.grid-50-25-25,
.row.two-col {
    .column {
        // background: orange;
        @include breakpoint($B-568) {
            @include box-shadow;
        }
    }
}

.home-card {
    // @include box-shadow;
    @include breakpoint($B-910) {
        &.large {
            background: #585656;
            .home-body {
                background: rgba(0, 0, 0, 0.3);
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
                .heading, .sub-heading, p {
                    color: $wht;
                }
                a {
                    &:link, &:active, &:visited {
                        color: $wht;
                    }
                    &:hover, &:focus {}
                    // .chevron {
                    //     background-position: -72px 6px;
                    // }
               
                }
            }
        }
    }
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.home-card:first-child {
    border-top: 1px solid $grey-80;
}

.home-card {
    position: relative;
}

.home-card {
    .location-flag {
        padding: 4px;
        margin-bottom: 5px;
    }
    .location-flag {
        display: none;
        visibility: hidden;
    }
    .home-body .location-flag {
        display: inline-block;
        visibility: visible;
    }
    @include breakpoint($B-568) {
        .home-body .location-flag {
            display: none;
            visibility: hidden;
        }
        .home-head .location-flag {
            display: block;
            visibility: visible;
            position: absolute;
            z-index: 3;
            top: 1em;
            left: 0;
            border-radius: 0 25px 25px 0;
            padding: 0.7em 1.3em 0.7em 1.8em;
            i {
                background-image: image-url("sprite-pin.png");
                background-repeat: no-repeat;
                background-size: 120px 20px;
                background-position: 0 0;
                position: absolute;
                top: 4px;
                left: 5px;
                display: block;
                height: 20px;
                width: 13px;
            }
        }
    }

    @include breakpoint($B-1024) {
        .home-head .location-flag {
            @include font-size(1.5);
            i {
                top: 9px;
                left: 8px;
            }
        }
    }
}

.home-head {
    width: 130px;
    float: left;
    padding-top: 1em;
}

@include breakpoint($B-568) {
    .index header.global-mast {
        margin-bottom: 1em;
    }
    .home-card {
        &:first-child {
            border-top: none;
        }
        border-bottom: none;
    }
    .home-head {
        float: none;
        width: 100%;
        padding-top: 0;
    }
}


@include breakpoint($B-768) {
    .three-col.grid-50-25-25 {
        .home-card {
            min-height: 346px;
        }
    }
    .two-col {
        .home-card {
            min-height: 185px;
        }
    }
}


@include breakpoint($B-910) {
    .index header.global-mast {
        margin-bottom: 2em;
    }
    .three-col.grid-50-25-25 {
        .home-card {
            min-height: 336px;
        }
        .home-card.large {
            a.home-cta {
                &:link, &:active, &:visited {
                    border-color: $wht;
                }
                &:hover, &:focus {
                    border-color: $grey-20;
                }
                i.chevron {
                    background-position: -53px 0;
                }
            }
            .home-head {
                position: relative;
                overflow: hidden;
            }
        }
    }
    .home-card.large {
        .home-body {
            position: absolute;
            bottom: 0;
            width: 100%;
            min-height: auto;
        }
    }
}


@include breakpoint($B-1024) {
    a.home-cta {
        &:link, &:active, &:visited {
            position: absolute;
            bottom: 1.5em;
        }
        &:hover, &:focus {}
    }
}


@include breakpoint($B-1200) {
    .three-col.grid-50-25-25 {
        .home-card {
            min-height: 393px;
        }
    }
}