///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.row.terms {
    li, p {
        @include font-size(1.1);
    }
    p.copyright {
        margin-bottom: 0;
    }
}

@include breakpoint($B-745) {
    p.copyright {
        position: absolute;
        top: 1.2em;
        right: 2em;
    }
}


///////////////////////////////////////////
// Links
///////////////////////////////////////////

footer.site-footer .row.terms {
    a {
        &:link, &:active, &:visited {
            padding-right: 0;
        }
        &:hover, &:focus {}
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////
footer.site-footer {
    background: $grey-90;
}


footer.site-footer .sub-heading {
    @include font-size(1.4);
    text-transform: uppercase;
}

footer.site-footer .row.terms p {
    color: $grey-80;
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

footer.site-footer {
    position: relative;
}

footer.site-footer ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

footer.site-footer ul.navigation {
    margin-bottom: 2em;
    li {
        padding-top: 0;
        padding-bottom: 0;
    }
}

footer.site-footer .inner-container {
    padding-top: 5em;
    padding-bottom: 5em;
}

footer.site-footer .row.terms .inner-container {
    border-top: 1px solid $grey-80;
    padding-top: 1em;
}

@include breakpoint($B-745) {
    footer.site-footer .inner-container {
        padding-top: 10em;
        padding-bottom: 10em;
    }
}