///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

///////////////////////////////////////////
// Links
///////////////////////////////////////////

ul.navigation {
    a {
        text-decoration: none;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
    }
}

.breadcrumbs {
    ul.navigation a {
        display: inline-block;
    }
    ul.navigation span {
        margin-left: 1em;
    }
    ul.navigation li:last-child span {
        display: none;
        visibility: hidden;
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

ul.navigation {
    text-align: left;
}

ul.navigation li {
    padding-top: 0;
    padding-bottom: 0;
}

@include breakpoint($B-745) {
    ul.navigation.inline,
    ul.navigation.float {
        li {
            margin-right: 1em;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    // Inline
    ul.navigation.inline {
        li {
            display: inline-block;
        }
        &.right {
            text-align: right;
        }
        &.center {
            text-align: center;
        }
    }
    // float
    ul.navigation.float {
        li {
            float: left;
        }
        &.right {
            float: right;
        }
        &.center {
            text-align: center;
        }
    }
}


@include breakpoint($B-910) {
    ul.navigation {
        &.border {
            border-width: 1px;
            border-color: $grey-80;
        }
        &.top {
            border-top-style: solid;
            padding-top: 2em;
        }
    }
}