///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

///////////////////////////////////////////
// Links
///////////////////////////////////////////

ul.menu li {
    a {
        &:link, &:active, &:visited {
            padding: 1em;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
        }
        &:hover, &:focus {}
        &.close-panel {
            position: static;
            display: block;
            border: 1px solid $wht;
            // border-radius: 50%;
       
        }
    }
}

@media only screen and (max-width: 799px) {
    a.close-panel, a.open-panel {
        height: 45px;
        width: 45px;
    }
    ul.menu li {
        a {
            &:link, &:active, &:visited {
                color: $wht;
                background: $grey-10;
            }
            &:hover, &:focus {
                background: $grey-20;
            }
            &.close-panel {
                display: block;
                margin-left: 1em;
                margin-top: 0.8em;
                margin-bottom: 0.9em;
                background: image-url("sprite.png") no-repeat;
                background-position: 9px 6px;
                background-size: 60px 30px;
                // &:before {
                //     content: "\00d7";
                //     font-size: 1.9em;
                //     position: absolute;
                //     top: 0.5em;
                //     left: 1em;
                // }
           
            }
        }
    }
    a.open-panel {
        display: block;
        position: absolute;
        top: 0;
        border: 1px solid $grey-20;
        // border-radius: 50%;
        z-index: 100;
        right: 0.6em;
        top: 0.6em;
        font-size: 2.4em;
        padding-top: 4px;
        color: $grey-20;
        text-decoration: none;
        text-align: center;
        background: image-url("sprite.png") no-repeat;
        background-position: -23px 6px;
        background-size: 60px 30px;
        &:before {
            // content: "MENU";
            // font-weight: bold;
            // position: relative;
            // top: 1.6em;
            // left: 0;
       
        }
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

@include breakpoint($B-800) {
    ul.menu li {
        a {
            &:link,
            &:active,
            &:visited {
                color: $primary;
                font-weight: bold;
            }
            &:hover,
            &:focus {color: $secondary;}
        }
        &.selected {
            a {
                &:link, &:active, &:visited {
                    color: $secondary;
                }
                &:hover, &:focus {
                    
                }
            }
        }
    }
}


///////////////////////////////////////////
// Layout
///////////////////////////////////////////

@media only screen and (max-width: 799px) {
    ul.menu {
        border-top: 1px solid $grey-30;
        li {
            float: none;
            width: 100%;
            text-align: left;
            border-bottom: 1px solid $grey-30;
            background: $grey-10;
        }
    }
    /* Move nav off screen, setup transitions */
    nav {
        width: 70%;
        position: absolute;
        left: -70%;
        top: 0;
        height: 100%;
        background: $grey-10;
    }
    /* Reveal open/close buttons */
    .openNav #pageWrap {
        left: 0;
        -webkit-transform: translate3d(70%, 0, 0);
        -moz-transform: translate3d(70%, 0, 0);
        -ms-transform: translate3d(70%, 0, 0);
        -o-transform: translate3d(70%, 0, 0);
        transform: translate3d(70%, 0, 0);
        -webkit-transition: -webkit-transform 200ms ease;
        -moz-transition: -moz-transform 200ms ease;
        -o-transition: -o-transform 200ms ease;
        transition: transform 200ms ease;
    }
    /* When the panel is closed, transition the page back to the left */
    #pageWrap {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 200ms ease;
        -moz-transition: -moz-transform 200ms ease;
        -o-transition: -o-transform 200ms ease;
        transition: transform 200ms ease;
    }
}

@include breakpoint($B-800) {
    ul.menu {
        float: right;
        margin-top: 2.5em;
        li {
            display: block;
            float: left;
            width: auto;
            &:first-child {
                display: none;
            }
            a {
                &:link,
                &:active,
                &:visited {
                    padding: 0.5em 1em;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                &:hover,
                &:focus {}
                &.close-panel {
                    display: none;
                }
            }
        }
    }
}