///////////////////////////////////////////
// Typography
///////////////////////////////////////////

///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////
.sub-menu-bar {
    background: $wht;
    position: relative;
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

#pinned-element1 {
    z-index: 1000;
    background: $wht;
    @include box-shadow;
}

.sub-menu-bar ul.navigation.sub-menu {
    display: none;
}

.sub-menu-bar ul.navigation.call-to-action {
    text-align: center;
}

@include breakpoint($B-800) {
    #pinned-element1 {
        min-height: 79px;
    }
    .sub-menu-bar ul.navigation {
        // height: 80px;
   
    }
    .sub-menu-bar ul.navigation.sub-menu {
        display: block;
        // position: absolute;
        // top: 2em;
        // left: 2em;
        // width: auto;
   
    }
    .sub-menu-bar ul.navigation.call-to-action {
        position: absolute;
        top: 2em;
        right: 2em;
        width: auto;
        text-align: right;
        li.request-call-back {
            display: none;
            visibility: hidden;
        }
    }
}


@include breakpoint($B-910) {
    .sub-menu-bar ul.navigation.call-to-action {
        li.request-call-back {
            display: inline-block;
            visibility: visible;
        }
    }
}