///////////////////////////////////////////
// **** BLOCKQUOTES **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

blockquote {
    p {
        @include font-size(1.5);
    }
    &:before {
        content: "\201C";
        @include font-size(4);
        line-height: 0.1em;
        vertical-align: -0.4em;
    }
    cite {
        @include font-size(1.2);
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////
blockquote {
    background: lighten($light, 7%);
    border-left: 5px solid $grey;
    &:before {
        color: $grey;
    }
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

blockquote {
    clear: both;
   
    display: block;
    padding: 2em;
    margin: 0 0 2em 0;
    p {
        display: inline;
    }
    &:before {
        margin-right: 0.15em;
    }
    cite {
        display: block;
        margin-top: 1em;
    }
    @include breakpoint($B-745) {
        
        // margin: 3em 2em 1em 3em;
        &.position-right {
            float: right;
            width: 360px;
            margin-left: 2em;
            // margin: 2.5em 2em 2em 2em;
        }
        &.position-left {
            float: left;
            width: 360px;
            margin-right: 2em;
            // margin: 2.5em 2em 2em 3em;
        }
    }
}

///////////////////////////////////////////
// **** IE8 **** 
///////////////////////////////////////////
html.ie8 {
    blockquote {
        display: block;
        margin: 3em 2em 1em 3em;
        &.position-right {
            float: right;
            width: 360px;
            margin: 2.5em 2em 2em 2em;
        }
        &.position-left {
            float: left;
            width: 360px;
            margin: 2.5em 2em 2em 3em;
        }
    }
}