html {
    font-size: 62.5%;
    /* Sets up the Base 10 stuff */
}

///////////////////////////////////////////
// Base
///////////////////////////////////////////

body {
    font-family: sans-serif;
    color: $grey;
    text-align: left;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    @include rem-fallback(margin-bottom, 1);
}

h1, .h1 {
    @include font-size(2);
    line-height: 1.2em;
}

h2, .h2 {
    @include font-size(1.65);
    line-height: 1.3em;
}

h3, .h3 {
    @include font-size(1.6);
    line-height: 1.3em;
}

h4, .h4 {
    @include font-size(1.55);
    line-height: 1.3em;
}

h5, .h5 {
    @include font-size(1.55);
    line-height: 1.3em;
}

h6, .h6 {
    @include font-size(1.55);
    line-height: 1.3em;
}

p {
    @include font-size(1.55);
    line-height: 1.4em;
}

small {
    @include font-size(0.9);
}

figcaption {
    @include font-size(1.6);
    padding-top: 0.4em;
    font-style: italic;
}

///////////////////////////////////////////
// $B-745
///////////////////////////////////////////

@include breakpoint($B-745) {}


///////////////////////////////////////////
// $B-1004
///////////////////////////////////////////

@include breakpoint($B-1004) {}


body {
    &.home, &.one-col {
        // Used to fix an issue in Safari.
        // -webkit-font-smoothing: subpixel-antialiased;
        // When a background-image is set on the body the text is thinned?
        // This turns that off. 
        // src: http://files.christophzillgens.com/webkit-font-smoothing.html
        // http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
        // -webkit-font-smoothing: subpixel-antialiased;
   
    }
}