///////////////////////////////////////////
// **** Small header **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.small-header {
    text-align: center;
    p {
        text-align: center;
        @include font-size(1.4);
        @include breakpoint($B-640) {
            position: absolute;
            margin-bottom: 0;
            left: 11.7em;
            top: 1.9em;
            border-left: 1px solid #fff;
            padding: 1px 15px;
            span {
                visibility: hidden;
                display: none;
            }
        }

        @include breakpoint($B-745) {
            left: 12.2em;
        }

        @include breakpoint($B-800) {
            span {
                visibility: visible;
                display: inline-block;
            }
        }

        @include breakpoint($B-800) {
            left: 13.7em;
            top: 2.1em;
        }
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

.small-header {
    .telephone {
        @include btn(transparent, $wht, $wht, $success, $success, $wht, $margin: 0 0 1em 0, $padding: 0 40px);
        @include breakpoint($B-640) {
            &:link, &:active, &:visited {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        @include breakpoint($B-800) {
            &:link, &:active, &:visited {
                border: none;
            }
            &:hover, &:focus {
                background: none;
            }
        }
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

.small-header {
    .telephone {
        &:link, &:active, &:visited {
            color: $wht;
        }
        &:hover, &:focus {}
    }
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.small-header {
    position: relative;
    .telephone {
        @include breakpoint($B-640) {
            position: absolute;
            right: 1em;
            top: 1.2em;
        }

        @include breakpoint($B-800) {
            top: 1.6em;
        }
    }
    .brand-logo {
        margin: 0 auto 2em auto;
        padding: 0;
        @include breakpoint($B-600) {
            float: none;
        }

        @include breakpoint($B-640) {
            margin: 0;
        }
    }
    .pad {
        padding-top: 2em;
        padding-bottom: 2em;
        float: left;
        width: 100%;
    }
}