///////////////////////////////////////////
// **** SIGN UP**** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

body.sign-up {
    background: $dark;
    .introduction {
        background: $light;
    }
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

body.sign-up {
    .main {
        overflow: hidden;
        float: none;
    }
    form {
        text-align: center;
    }
    .introduction {
        padding: 1em;
    }
    img.body-bkg {
        position: absolute;
        top: 0;
        height: 100%;
    }
}

///////////////////////////////////////////
// IMPORT
///////////////////////////////////////////

@import "theme-sign-up";