///////////////////////////////////////////
// **** sign-up theme **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Animation
///////////////////////////////////////////
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}


///////////////////////////////////////////
// Typography
///////////////////////////////////////////
body.sign-up {
    .introduction {
        h1 {
            @include font-size(2);
        }
        p {
            @include font-size(1.4);
        }
    }
    label, .label {
        @include font-size(1.4);
    }
    @include breakpoint($B-640) {
        .introduction {
            h1 {
                @include font-size(3.7);
            }
            p {
                @include font-size(1.4);
                width: 510px;
                margin: 0 auto 1em auto;
            }
        }
        label, .label {
            @include font-size(1.6);
        }
    }

    @include breakpoint($B-800) {
        .introduction {
            h1 {
                @include font-size(5.2);
            }
            p {
                @include font-size(1.4);
            }
        }
        label, .label {
            @include font-size(1.7);
        }
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////


///////////////////////////////////////////
// Colour
///////////////////////////////////////////
body.sign-up {
    color: #fff;
    background: image-url("landing-bg-red.jpg");
    background-position: 0px 0px;
    background-repeat: repeat;
    .main, form, .introduction {
        background: transparent;
    }
    .main .pad {
        background-color: #C02C2F;
        background-color: rgba(162, 22, 25, 0.6);
    }
    form {
        small {
            color: #5D0D0F;
        }
    }
    .row.small-header {
        background-color: #C02C2F;
        background-color: rgba(0, 0, 0, 0.6);
        // background-color: rgba(162, 22, 25, 0.6);
   
    }
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////
body.sign-up {
    .main {
        margin: 1em auto 3em auto;
        @include breakpoint($B-640) {
            margin-top: 4em;
        }
    }
    .introduction {
        padding: 1em;
        @include breakpoint($B-640) {
            padding: 2em 2em 1em 2em;
        }
    }
    input[type="text"], input[type="email"] {
        border-radius: 3px;
        border: none;
    }
    .main .pad {
        padding-top: 2em;
        padding-bottom: 2em;
        @include breakpoint($B-640) {
            border-radius: 10px;
            width: 70%;
            margin: 0 auto;
        }

        @include breakpoint($B-910) {
            width: 640px;
        }
    }
    @include breakpoint($B-800) {
        animation: animatedBackground;
        animation-timing-function: linear;
        animation-duration: 40s;
        animation-iteration-count: infinite;
    }
}