.index .two-col {
    @include breakpoint($B-745) {
        .main, aside, .column {
            @include span(6);
        }
        .column:last-child {
            margin-right: 0;
        }
    }
}

.two-col.aside-medium {
    @include breakpoint($B-745) {
        .main, aside, .column {
            @include span(8 no-gutters wide split);
        }
        aside,
        .column:last-child {
            @include span(4 no-gutters wide split);
            margin-right: 0;
        }
        aside.pad {
            padding-top: 0;
        }
    }
}

.two-col.aside-thin {
    @include breakpoint($B-745) {
        .main, aside, .column {
            @include span(9 no-gutters wide split);
        }
        aside,
        .column:last-child {
            @include span(3 no-gutters wide split);
            margin-right: 0;
        }
        aside.pad {
            padding-top: 0;
        }
    }

    &.flip {
        @include breakpoint($B-745) {
            .main, aside, .column {
                @include span(8 no-gutters wide split);
                float: right;
            }
            aside,
            .column:last-child {
                @include span(4 no-gutters wide split);
                margin-right: 0;
                float: left;
            }
        }
        @include breakpoint($B-850) {
            .main, aside, .column {
                @include span(9 no-gutters wide split);
                float: right;
            }
            aside,
            .column:last-child {
                @include span(3 no-gutters wide split);
                margin-right: 0;
                float: left;
            }
        }
    }
}

// grid-50-25-25
.three-col.grid-50-25-25 {
    @include breakpoint($B-910) {
        .column {
            min-height: 250px;
            margin-bottom: 2em;
            &:nth-child(1) {
                @include span(6);
            }
            &:nth-child(2),
            &:last-child {
                @include span(3);
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &.flip {
            .column {
                &:nth-child(1) {
                    @include span(6);
                    margin-left: 50.84746%;
                    margin-right: 0;
                }
                &:nth-child(2) {
                    @include span(3);
                    margin-left: -74.57627%;
                    margin-right: 0;
                }
                &:last-child {
                    @include span(3);
                    // margin-right: 1.69492%;
                    margin-right: 0;
                    margin-left: -100%;
                }
            }
        }
    }
}

.index {
    .column {
        margin-bottom: 1em;
        @include breakpoint($B-910) {
            margin-bottom: 2em;
        }

        .home-body {
            overflow: hidden;
            min-height: 97px;
        }
    }
    @include breakpoint($B-460) {
        .column {
            .home-body {
                min-height: 107px;
            }
        }
    }

    .three-col.grid-50-25-25 {
        .column {
            width: 100%;
            clear: both;
            border-bottom: 1px solid $grey-80;
            .home-body {
                overflow: hidden;
                min-height: 110px;
            }
        }
        @include breakpoint($B-568) {
            .column {
                border-bottom: none;
                clear: none;
                @include span(4);
                &:last-child {
                    margin-right: 0;
                }
                .home-body {
                    min-height: 170px;
                }
            }
        }

        @include breakpoint($B-910) {
            .column {
                &:nth-child(1) {
                    @include span(6);
                }
                &:nth-child(2),
                &:last-child {
                    @include span(3);
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            &.flip {
                .column {
                    &:nth-child(1) {
                        @include span(6);
                        margin-left: 50.84746%;
                        margin-right: 0;
                    }
                    &:nth-child(2) {
                        @include span(3);
                        margin-left: -74.57627%;
                        margin-right: 0;
                    }
                    &:last-child {
                        @include span(3);
                        // margin-right: 1.69492%;
                        margin-right: 0;
                        margin-left: -100%;
                    }
                }
            }
        }
    }
    .two-col {
        @include breakpoint($B-568) {
            .column {
                border-bottom: none;
                clear: none;
                @include span(6);
                &:last-child {
                    margin-right: 0;
                }
                .home-body {
                    min-height: 155px;
                }
            }
        }

        @include breakpoint($B-745) {
            .column {
                .home-head {
                    float: left;
                    width: 48.22881%;
                }
            }
        }
    }
}

.two-col .column,
.grid-50-25-25 .column {
    // background: pink;
}