.row, .inner-container, .main {
    position: relative;
}

.row {
    clear: both;
    &.page-container {
        margin-bottom: 6em;
    }
}

.inner-container {
    margin: 0;
    width: 100%;
    @include container;
    max-width: 1200px;
    &.no-max-width {
        max-width: 100%;
    }
}

.pad {
    padding: 1em;
}

@include breakpoint($B-745) {
    .pad {
        padding: 2em;
    }
    aside {
        .pad {
            padding-left: 1em;
            padding-top: 2em;
            padding-right: 1em;
        }
    }
}


@include breakpoint($B-850) {
    aside {
        .pad {
            padding: 2em;
        }
    }
}