// Defaults to 50 - 50
// http://www.codelord.net/2013/11/18/css-tip-divs-with-equal-dynamic-heights/
// Uses  display: table to make sure columns are the same height - works in IE8!

// .column,
// .main,
// aside {
//     position: relative;
// }

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

// Type in a table cell

.table-cell {
    .hTag {
        margin: 0;
    }
    .absolute {
        top: 0;
        left: 0;
        padding: 1em;
    }
}

// TABLE Setup

.table, .table-row, .table-cell, .table-column {
    position: relative;
}

.table {
    display: table;
    clear: both;
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    &.pad-left-right {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.table-row {
    display: table-row;
}

.table-cell {
    vertical-align: top;
    &.pad {
        padding: 0.5em;
    }
}

@include breakpoint($B-745) {
    .table-cell {
        display: table-cell;
        // Change to block to force 100% width
   
    }
}


// .inner-container.table-row ...
.table-row {
    .table-column:last-child {
        margin-right: 0;
    }
    .table-column.no-float {
        float: none !important;
    }
    @include breakpoint($B-745) {
        &.two-col {
            .table-column {
                @include span(6 no-gutters wide split);
            }
        }
        &.two-col-aside {
            .table-column {
                &:first-child {
                    @include span(8 no-gutters wide split);
                }
                &:last-child {
                    @include span(4 no-gutters wide split);
                }
            }
        }
        &.two-col-aside.narrow {
            .table-column {
                &:first-child {
                    @include span(9 no-gutters wide split);
                }
                &:last-child {
                    @include span(3 no-gutters wide split);
                }
            }
        }
        &.two-col-aside.slim {
            .table-column {
                &:first-child {
                    @include span(10 no-gutters wide split);
                }
                &:last-child {
                    @include span(2 no-gutters wide split);
                }
            }
        }
        &.three-col {
            .table-column {
                @include span(4 no-gutters wide split);
            }
        }
        &.three-col-5-4-3 {
            .table-column {
                @include span(4 no-gutters wide split);
                &:first-child {
                    @include span(5 no-gutters wide split);
                }
                &:last-child {
                    @include span(3 no-gutters wide split);
                }
            }
        }
        &.four-col {
            .table-column {
                @include span(3 no-gutters wide split);
            }
        }
    }
}

.table.flip {
    // http://stackoverflow.com/questions/1138639/css-tables-invert-order-of-displayed-content
    .inner-container {
        direction: rtl;
        .table-row {
            direction: ltr;
        }
    }
}

// END TABLE Setup

// // setup - .table is on .row
// .table {
//     @include breakpoint($B-745) {
//         .inner-container {
//             display: table;
//             .table-row {
//                 display: table-row;
//             }
//         }
//         .column,
//         .main,
//         aside {
//             display: table-cell;
//             float: none !important;
//             vertical-align: top;
//         }
//         &.flip {
//             // http://stackoverflow.com/questions/1138639/css-tables-invert-order-of-displayed-content
//             .inner-container {
//                 direction: rtl;
//                 .table-row {
//                     direction: ltr;
//                 }
//             }
//         }
//     }
// }

// // 50 - 50 split
// // Remember add .flip to .row to... flip layout
// .table.two-col {
//     @include breakpoint($B-745) {
//         .main, aside, .column {
//             @include span(6 no-gutters wide split);
//             background: pink;
//         }
//         .column.two-col {
//             .table-cell {
//                 @include span(6 no-gutters wide split);
//             }
//         }
//     }
// }

// // 25 / 25 / 50
// .table.three-col.alt {
//     @include breakpoint($B-910) {
//         .column {
//             &:nth-child(1) {
//                 @include span(5 no-gutters wide split);
//                 // background: pink;
//             }
//             &:nth-child(2) {
//                 @include span(4 no-gutters wide split);
//                 // background: orange;
//             }
//             &:last-child {
//                 @include span(3 last no-gutters wide split);
//                 // background: silver;
//             }
//             .table-cell {
//                 width: 100%;
//                 float: left;
//             }
//         }
//     }
// }

// 80 - 40 split
// // Remember add .flip to .row to... flip layout
// .table.two-col.aside-medium {
//     @include breakpoint($B-745) {
//         .main {
//             @include span(8 no-gutters wide split);
//         }
//         aside {
//             @include span(4 last no-gutters wide split);
//         }
//     }
// }

// // 90 - 30 split
// .table.two-col.aside-thin {
//     @include breakpoint($B-745) {
//         .main {
//             @include span(9 no-gutters wide split);
//         }
//         aside {
//             @include span(3 last no-gutters wide split);
//         }
//     }
// }

// // 33 - 33 - 33 split
// // Remember add .flip to .row to... flip layout
// .table.three-col {
//     @include breakpoint($B-745) {
//         .column {
//             @include span(4 no-gutters wide split);
//             &:last-child {
//                 margin-right: 0;
//             }
//         }
//     }
// }