///////////////////////////////////////////
// **** CTA with buttons **** 
///////////////////////////////////////////

.promo {

}

.contact {
    
}

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.cta.with-buttons {
    h1, h2, h3, h4, h5, h6 p {
        margin-bottom: 0;
        text-align: center;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        @include font-size(1.6);
    }
    @include breakpoint($B-745) {
        h1, h2, h3, h4, h5, h6 p {
            text-align: left;
        }
    }

    .button-wrap {
        text-align: center;
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.cta.with-buttons {
    // border-bottom: 1px solid $light;
    .pad {
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .button-wrap {
        margin-top: 1em;
    }
    @include breakpoint($B-745) {
        .button-wrap {
            position: absolute;
            top: 0.2em;
            right: 2em;
        }
    }
}

///////////////////////////////////////////
// **** IE8 **** 
///////////////////////////////////////////
html.ie8 {
    ///////////////////////////////////////////
    // Typography
    ///////////////////////////////////////////
    .cta.with-buttons {
        h1, h2, h3, h4, h5, h6 p {
            text-align: left;
        }
    }
    ///////////////////////////////////////////
    // Layout
    ///////////////////////////////////////////
    .cta.with-buttons {
        .button-wrap {
            position: absolute;
            top: 0.2em;
            right: 2em;
        }
    }
}