// Typography
// Links
// Colour
// Layout

// Typography
.grid-layout {
    &.grid-4-col {
        h3 {
            text-align: center;
            @include text-shadow;
            @include breakpoint($B-850) {
                @include font-size(1.8);
            }
        }
    }
}

// Colour

.grid-layout {
    &.grid-4-col {
        h3 {
            color: $wht;
        }
    }
}

// Layout

.grid-layout {
    width: 100%;
    float: left;
    margin-bottom: 2em;
    ul {
        padding: 0;
        li {
            list-style: none;
            margin-bottom: 1em;
        }
    }
}

.grid-layout {
    // ************************************
    // Client logos grid
    // ************************************
    ul.client-logos, &.grid-4-col ul {
        margin-top: 2em;
        li {
            margin-bottom: 1.69492%;
            @include span(6);
            &:nth-child(2n+0) {
                margin-right: 0;
            }
        }
        @include breakpoint($B-460) {
            li {
                @include span(4);
                &:nth-child(2n+0) {
                    margin-right: 1.69492%;
                }
                &:nth-child(3n+0) {
                    margin-right: 0;
                }
            }
        }

        @include breakpoint($B-550) {
            li {
                @include span(3);
                &:nth-child(3n+0) {
                    margin-right: 1.69492%;
                }
                &:nth-child(4n+0) {
                    margin-right: 0;
                }
            }
        }

        @include breakpoint($B-600) {
            li {
                @include span(4);
                &:nth-child(2n+0) {
                    margin-right: 1.69492%;
                }
                &:nth-child(3n+0) {
                    margin-right: 0;
                }
            }
        }

        @include breakpoint($B-850) {
            li {
                @include span(3);
                &:nth-child(3n+0) {
                    margin-right: 1.69492%;
                }
                &:nth-child(4n+0) {
                    margin-right: 0;
                }
                img {
                    width: 81%;
                    margin: 0px auto;
                    display: block;
                }
            }
        }
    }
}

.grid-layout {
    // ************************************
    // grid-4-col
    // ************************************
    &.grid-4-col {
        .pad {
            padding-top: 0;
        }
        ul {
            margin-top: 0;
        }
        @include breakpoint($B-850) {
            ul {
                li {
                    a {
                        @include box-shadow;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }

        @include breakpoint($B-960) {
            .pad {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

///////////////////////////////////////////
// **** IE8 **** 
///////////////////////////////////////////

html.ie8 {
    ///////////////////////////////////////////
    // Typography
    ///////////////////////////////////////////
    .grid-layout {
        &.grid-4-col {
            h3 {
                @include font-size(1.8);
            }
        }
    }
    ///////////////////////////////////////////
    // Layout
    ///////////////////////////////////////////
    .grid-layout {
        // ************************************
        // Client logos grid
        // ************************************
        ul.client-logos, &.grid-4-col ul {
            li {
                @include span(3);
                &:nth-child(3n+0) {
                    margin-right: 1.69492%;
                }
                &.last {
                    margin-right: 0;
                }
                img {
                    width: 81%;
                    margin: 0px auto;
                    display: block;
                }
            }
        }
        &.grid-4-col {
            .pad {
                padding-left: 0;
                padding-right: 0;
            }
            ul {
                li {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}