// Typography
// Links
// Colour
// Layout


// .demo {
//     background: pink;
//     height: 40px;
//     display: block;
// }

// .video-wrap {
//     visibility: none;
//     display: none;
//     @include breakpoint($B-745) {
//         visibility: visible;
//         display: block;
//     }
// }

// Typography
.hero {
    h1, p {
        // @include text-shadow;
   
    }
    h1 {
        @include font-size(1.6);
        margin-bottom: 0.3em;
        font-weight: bold;
    }
    p {
        margin-bottom: 0;
        @include font-size(1.2);
    }
    // Hero text alignment
    .text-align {
        &.left {
            text-align: left;
        }
        &.center {
            text-align: center;
        }
        &.right {
            text-align: right;
            padding-left: 6%;
        }
    }
    @include breakpoint($B-460) {
        h1 {
            @include font-size(2.4);
        }
        p {
            @include font-size(1.5);
        }
    }

    @include breakpoint($B-600) {
        h1 {
            @include font-size(3);
            line-height: 1.3em;
        }
        .text-align {
            &.left {
                padding-right: 10%;
            }
            &.center {
                padding-right: 10%;
                padding-left: 10%;
            }
            &.right {
                padding-left: 10%;
            }
        }
    }

    @include breakpoint($B-800) {
        .text-align {
            &.left {
                padding-right: 15%;
            }
            &.center {
                text-align: center;
            }
            &.right {
                padding-left: 15%;
            }
        }
    }

    @include breakpoint($B-910) {
        h1 {
            @include font-size(3.6);
        }
        p {
            @include font-size(1.6);
        }
    }

    @include breakpoint($B-1004) {
        h1 {
            @include font-size(4.1);
        }
    }
}

// Links

a.btn.primary {
    @include btn($wht, $wht, $dark, transparent, $wht, $wht, null, 1.5em 0.7em 0 0);
}

a.btn.secondary {
    @include btn(transparent, $wht, $wht, $wht, $wht, $dark);
}

// Colour
.hero {
    background: $dark;
    h1, p {
        color: $wht;
    }
}

// Layout

.hero {
    position: relative;
    width: 100%;
    height: auto;
    // height can be fixed - or leave as auto to set the height using padding on inner-container.
    border: 0;
    img {
        // max-width: 1200px;
        // remove to make image full width
        margin: 0 auto;
        opacity: 0.5;
        // https://css-tricks.com/snippets/css/cross-browser-opacity/
   
    }
    .inner-container {
        z-index: 1;
        padding: 2em 1em 2em 1em;
    }
    .button-wrap {
        margin-top: 2em;
    }
    .wrap {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        video {
            position: absolute;
            z-index: -1;
            // opacity: 0.7;
            width: 100%;
        }
    }
    @include breakpoint($B-600) {
        .inner-container {
            padding-left: 2em;
            padding-right: 2em;
        }
    }

    @include breakpoint($B-800) {
        .inner-container {
            padding-top: 5em;
            padding-bottom: 5em;
        }

    }

    @include breakpoint($B-910) {
        .inner-container {
            padding-top: 7em;
            padding-bottom: 7em;
        }
        .button-wrap {
            margin-top: 4em;
        }
    }
}

.hero.video {
    .inner-container {
        @include breakpoint($B-640) {
            padding-top: 10em;
            padding-bottom: 10em;
        }

        @include breakpoint($B-910) {
            padding-top: 20em;
            padding-bottom: 20em;
        }
    }
}




///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.page-hero {
    h1 {
        position: absolute;
        bottom: 0;
        margin-bottom: 0;
        padding: 8px 11px 5px 11px;
        @include font-size(2);
    }
}

.page-hero.no-img {
    h1 {
        position: static;
        padding: 8px 11px 5px 11px;
    }
}

@include breakpoint($B-800) {
    .page-hero {
        h1 {
            @include font-size(3);
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}


///////////////////////////////////////////
// Colour
///////////////////////////////////////////

.page-hero {
    h1 {
        background: $wht;
    }
}

.page-hero.no-img {
    h1 {
        background: $primary;
        color: $wht;
        display: inline-block;
    }
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.page-hero {
    position: relative;
}

.page-hero.no-img {
    padding: 2em 2em 0em 1em;
}

@include breakpoint($B-800) {
    .page-hero.no-img {
        padding-left: 2em;
    }
}

