///////////////////////////////////////////
// **** IE HEROES **** 
///////////////////////////////////////////
html.ie8 {
    ///////////////////////////////////////////
    // Typography
    ///////////////////////////////////////////
    .hero {
        .text-align {
            &.left {
                padding-right: 10%;
            }
            &.center {
                padding-right: 10%;
                padding-left: 10%;
            }
            &.right {
                padding-left: 10%;
            }
        }
        .text-align {
            &.left {
                padding-right: 15%;
            }
            &.center {
                text-align: center;
            }
            &.right {
                padding-left: 15%;
            }
        }
        p {
            @include font-size(1.6);
        }
        h1 {
            @include font-size(4.1);
            line-height: 1.3em;
        }
    }
    ///////////////////////////////////////////
    // Links
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Colour
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Layout
    ///////////////////////////////////////////
    .hero {
        img {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            // https://css-tricks.com/snippets/css/cross-browser-opacity/
            width: 1200px;
            margin: 0 auto;
        }
        .inner-container {
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 7em;
            padding-bottom: 7em;
        }
        .button-wrap {
            margin-top: 4em;
        }
    }
    .hero.video {
        .inner-container {
            padding-top: 20em;
            padding-bottom: 20em;
        }
    }
}