///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.masonry-container {
    p {
        @include font-size(1.4);
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.3em;
        font-weight: normal;
    }
    small.sub-heading {
        @include font-size(1.3);
        margin-top: -4px;
    }
}

.no-p-margin {
    p:last-child {
        margin-bottom: 0;
    }
}

.masonry-item {
    text-align: center;
}

@include breakpoint($B-745) {
    .masonry-container {
        h6 {
            @include font-size(1.9);
            line-height: 1.3em;
        }
        small.sub-heading {
            @include font-size(1.6);
            line-height: 1.3em;
        }
    }
    .masonry-item.large {
        p {
            @include font-size(1.9);
            line-height: 1.3em;
        }
    }
}


///////////////////////////////////////////
// Links
///////////////////////////////////////////
.masonry-item {
    h1, h2, h3, h4, h5, h6 {
        a {
            &:link, &:active, &:visited {
                text-decoration: none;
                // display: block;
           
            }
            &:hover, &:focus {
                border-bottom: 1px solid $grey-50;
            }
        }
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

.masonry-container {
    background: transparent;
}

.masonry-item {
    background: $wht;
    border-radius: 4px;
    overflow: hidden;
    a {
        &:link, &:active, &:visited {
            color: $grey-20;
        }
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    a.btn {
        @include btn($bg: transparent, $text-transform: uppercase, $font-weight: bold, $border-style: solid, $border-color: $light, $hover-bg: $grey-20, $text: $grey-20, $hover-border: $grey-20, $hover-text: $wht);
        &:link, &:active, &:visited {
            font-size: 12px;
            font-size: 1.2rem;
        }
    }
}

.theme-1, .theme-2 {
    h6, small.sub-heading, p {
        color: $grey-20;
    }
    a {
        &:link, &:active, &:visited {
            color: $grey-20;
        }
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    a.btn {
        @include btn($bg: transparent, $text-transform: uppercase, $font-weight: bold, $border-style: solid, $border-color: $grey-20, $hover-bg: $wht, $text: $grey-20, $hover-border: $wht, $hover-text: $grey-20);
        &:link, &:active, &:visited {
            font-size: 12px;
            font-size: 1.2rem;
        }
    }
}

.theme-3 {
    h6, small.sub-heading, p {
        color: $wht;
    }
    a {
        &:link, &:active, &:visited {
            color: $wht;
        }
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    a.btn {
        @include btn($bg: transparent, $text-transform: uppercase, $font-weight: bold, $border-style: solid, $border-color: $wht, $hover-bg: $wht, $text: $wht, $hover-border: $wht, $hover-text: $grey-20);
        &:link, &:active, &:visited {
            font-size: 12px;
            font-size: 1.2rem;
        }
    }
}

// Green
.theme-1 {
    background: $green-light;
}

// Light blue
.theme-2 {
    background: $secondary;
}

// Gray
.theme-3 {
    background: $grey-20;
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

// Masonry: remove gutter from last column
// http://stackoverflow.com/questions/17946865/masonry-remove-gutter-from-last-column
// (container width - (columns * column width)) / number of gutters = gutter width
// (100% - (4 * 24%)) / 3) = 1.33333333333333%

.masonry-item.card small {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid $grey-80;
    color: $grey-60;
    a {
        &:link, &:active, &:visited {
            color: $grey-60;
            text-decoration: none;
        }
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

small {
    a {
        &:link, &:active, &:visited {
            color: $grey-60;
            text-decoration: none;
        }
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.row.gallery {
    padding-top: 3em;
    padding-bottom: 3em;
    small.center {
        width: 70%;
        margin: 0 auto;
        padding-top: 2em;
    }
}

.masonry-container {
    /* clearfix */
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.masonry-item {
    margin-bottom: 1em;
    float: left;
    width: 100%;
}

@include breakpoint($B-400) {
    .masonry-container {
        &.four,
        &.three {
            .masonry-item-sizer,
            .masonry-item {
                @include span(6);
                margin-right: 0;
            }
            .masonry-item {
                margin-bottom: 0.5em;
            }
            .masonry-item-gutter-sizer {
                width: 1.69492%;
            }
        }
    }
}


@include breakpoint($B-600) {
    .masonry-container {
        &.four,
        &.three {
            .masonry-item {
                margin-bottom: 0.8em;
            }
        }
    }
}


@include breakpoint($B-745) {
    .masonry-container {
        &.four,
        &.three {
            .masonry-item {
                margin-bottom: 1.2em;
            }
        }
        &.four {
            .masonry-item-sizer,
            .masonry-item {
                @include span(3);
                margin-right: 0;
            }
            .masonry-item-gutter-sizer {
                width: 1.69492%;
            }
        }
        &.three {
            .masonry-item-sizer, .masonry-item {
                @include span(4);
                margin-right: 0;
            }
            .masonry-item-gutter-sizer {
                width: 1.69492%;
            }
        }
        .pad {
            padding: 1em;
        }
    }
}


@include breakpoint($B-910) {
    .masonry-container {
        .pad {
            padding: 1.5em;
        }
    }
}