body.news {
    // Typography
    // Links
    // Colour
    // Layout
    .inner-container {
        margin-bottom: 2em;
    }
    .cms_masonry_container {
        overflow: hidden;
        margin-bottom: 3em;
        clear: both;
        .cms_masonry_item {
            overflow: hidden;
            float: left;
            background: $wht;
            width: 99%;
            margin: 5px 0.5% 5px 0.5%;
            .pad {
                padding-right: 1.5em;
            }
            @include breakpoint($B-500) {
                width: 49%;
                // margin-right: 1em;
            }

            @include breakpoint($B-745) {
                width: 23.9%;
            }
        }
    }
}

body.news.home {
    // Typography
    @include breakpoint($B-910) {
        blockquote {
            border-left-width: 2px;
        }
    }

    // Links
    a.link {
        &:link, &:active, &:visited {
            @include font-size(1.3);
        }
        &:hover, &:focus {}
        i {
            margin-left: 0.5em;
        }
    }
    // Colour
    // Layout
    .thumb {
        overflow: hidden;
        display: block;
        img {
            transition: all .2s ease-in-out;
        }
        img:hover {
            transform: scale(1.1);
        }
    }
    .hentry {
        a {
            &:link, &:active, &:visited {
                text-decoration: none;
            }
            &:hover, &:focus {}
        }
    }
}

body.post {
    // Typography
    .info-block {
       p {
        margin-bottom: 0;
       }
    }
    // Links
    // Colour
    // Layout

    .info-block {
        margin: 2em 0 0 0;
    }
    @include breakpoint($B-910) {
        img.hero {
            width: auto;
        }
    }
}