// Typography
// Links
// Colour
// Layout

// Layout

.row.services.columns {
    @include breakpoint($B-600) {
        aside {
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                width: 200%;
                margin-left: -70%;
            }
        }
    }

    @include breakpoint($B-680) {
        aside {
            img {
                width: 160%;
                margin-left: -40%;
            }
        }
    }

    @include breakpoint($B-745) {
        aside {
            img {
                width: 150%;
                margin-left: -30%;
            }
        }
    }

    @include breakpoint($B-800) {
        aside {
            img {
                position: static;
                width: 140%;
            }
        }
    }

    @include breakpoint($B-910) {
        aside {
            img {
                width: 120%;
                margin-left: -20%;
            }
        }
    }

    @include breakpoint($B-1004) {
        aside {
            img {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

// Typography

.two-col-img-txt {
    h1, h2, h3, h4, h5, h6 {
        @include font-size(2);
    }
}

.two-col-img-txt {
    section.columns.equal-height {
        margin-bottom: 0;
        &.last-row {
            margin-bottom: 2em;
        }
        .main .pad {
            padding-top: 3em;
            padding-bottom: 3em;
        }
    }
}

///////////////////////////////////////////
// **** IE8 **** 
///////////////////////////////////////////

html.ie8 {
    ///////////////////////////////////////////
    // Typography
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Links
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Colour
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Layout
    ///////////////////////////////////////////
    .row.services.columns {
        aside {
            position: relative;
            overflow: hidden;
            img {
                position: static;
                width: 100%;
                margin-left: 0;
            }
        }
    }
}