// Typography
// Links
// Colour
// Layout

// ++++++++++++++++++ 
// .main .testimonial
// *******************

// Typography
.testimonial {
    blockquote {
        p {
            display: inline;
        }
        &:before {
            color: #ccc;
            content: "\201C";
            @include font-size(4);
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }
        footer {
            @include font-size(1.2);
            font-weight: bold;
        }
    }
}

//  Colour

.main .testimonial {
    blockquote {
        background: #f9f9f9;
        border-left: 10px solid $primary;
    }
}

// Layout

.main .testimonial {
    clear: both;
}

.testimonial {
    .pad {
        padding: 0;
        margin-bottom: 2em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    blockquote {
        margin: 0;
        padding: 1.5em 20px;
        // quotes: "\201C" "\201D" "\2018" "\2019";
        footer {
            margin-top: 1em;
        }
    }
}

///////////////////////////////////////////
// **** IE8 **** 
///////////////////////////////////////////

html.ie8 {
    ///////////////////////////////////////////
    // Typography
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Links
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Colour
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    // Layout
    ///////////////////////////////////////////
    .testimonial {
        .pad {
            padding: 0;
        }
    }
}