///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////

///////////////////////////////////////////
// Typography
///////////////////////////////////////////
.main.article {
    h1 {
        @include font-size(1.9);
        @include breakpoint($B-667) {
            @include font-size(2.4);
        }

        @include breakpoint($B-745) {
            @include font-size(1.9);
        }

        @include breakpoint($B-1004) {
            @include font-size(3.4);
        }
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.main.article {
    margin-bottom: 3em;
    .intro {
        overflow: hidden;
        &.pad {
            padding-bottom: 0;
        }
        img {
            margin-bottom: 1.5em;
        }
    }
    .video {
        clear: both;
    }
    @include breakpoint($B-400) {
        img {
            margin-bottom: 0;
        }
    }

    @include breakpoint($B-460) {
        .intro {
            img {
                width: 170px;
            }
            .articleImgWrap {
                float: left;
                margin-right: 1.5em;
            }
            .txtWrap {
                overflow: hidden;
            }
        }
    }

    @include breakpoint($B-667) {
        .intro {
            .articleImgWrap {
                width: 35%;
                img {
                    width: 100%;
                }
            }
        }
    }
}


//.main.article