<perch:if exists="brand-logo">
	  <a href="/" title="return to home page" class="brand-logo"> 
    <img src="<perch:content help="For best results use a pre-cropped .PNG 160 pixels wide by 40 pixels tall." id="brand-logo" type="image" label="Image" width="160" />" alt="<perch:content id="brand-logo-alt" type="text" label="Alt tag" help="An alt tag is a text alternative for an image. It is used by screenreaders and other site readers as an alternative to the image itself." />" srcset="<perch:content id="brand-logo" type="image" width="160" label="Image" density="2" /> 2x">
 </a></perch:if>	



    