///////////////////////////////////////////
// **** SECTION NAME **** 
///////////////////////////////////////////
///////////////////////////////////////////
// Typography
///////////////////////////////////////////
article {
    p, h1, h2, h3, h4, h5, h6 {
        line-height: 1.3em;
    }
    h2, h3, h4, h5, h6 {
        margin-bottom: 0.2em;
    }
    @include breakpoint($B-500) {
        .excerpt p {
            @include font-size(1.6);
        }
    }

    @include breakpoint($B-640) {
        h1 {
            @include font-size(2.6);
        }
        .excerpt p {
            @include font-size(1.8);
        }
    }

    @include breakpoint($B-745) {
        .excerpt p {
            @include font-size(2);
        }
    }

    @include breakpoint($B-910) {
        h1 {
            @include font-size(3);
            margin-bottom: 0.2em;
            line-height: 1.1em;
        }
        .excerpt p {
            @include font-size(2.2);
        }
    }

    @include breakpoint($B-1004) {
        h1 {
            @include font-size(3.4);
        }
        .excerpt p {
            @include font-size(2.3);
        }
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////
///////////////////////////////////////////
// Colour
///////////////////////////////////////////
///////////////////////////////////////////
// Lists
///////////////////////////////////////////
article {
    ul {
        list-style: disc;
    }
    ul,
    ol {
        padding: 0 2em;
        margin-bottom: 2em;
        margin-top: 2em;
        li {
            margin-bottom: 0.5em;
            line-height: 1.3em;
        }
    }
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////
article {
    margin-bottom: 0;

    .video {
        clear: both;
    }
}