// Typography
// Links
// Colour
// Layout
.mixed-article-gallery {
    display: inline-block;
    *display: inline;
    width: 100%;
    //ie7 fix
    zoom: 1;
    //ie7 fix
    margin-bottom: 2em;
    padding-top: 2em;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        margin-bottom: 2% !important;
        margin-right: 2%;
        float: left;
        width: 49%;
        &:nth-child(2n+2) {
            margin-right: 0;
        }
        a {
            &:link, &:active, &:visited {
                display: block;
            }
        }
    }
    img {
        margin: 0;
    }
    @include breakpoint($B-550) {
        li {
            width: 32%;
            &:nth-child(2n+2) {
                margin-right: 2%;
            }
            &:nth-child(3n+3) {
                margin-right: 0;
            }
            img {
                @include box-shadow;
            }
        }
    }
}