

///////////////////////////////////////////
// Links / buttons
///////////////////////////////////////////

a.btn.primary {
    @include btn($primary, $primary, $wht, transparent, $wht, $wht, $margin: 0);
    // @include btn(background, border, text-colour, hover-bg, hover-border, hover-text, line-height, margin, padding, radius);
}

a.btn.secondary {
    @include btn(transparent, $wht, $wht, $wht, $wht, $dark, $margin: 0);
}

.hero-v2 .inner-container.has-headline.has-button {
    a.btn.primary {
        @include btn($primary, $primary, $wht, transparent, $wht, $wht, $margin: 1.5em 0.7em 0 0);
    }
}