///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.hero-v2 {
    h1 {
        @include font-size(1.6);
        margin-bottom: 0.3em;
        font-weight: bold;
        @include breakpoint($B-460) {
            @include font-size(2.4);
        }

        @include breakpoint($B-600) {
            @include font-size(3);
            line-height: 1.3em;
        }

        @include breakpoint($B-910) {
            @include font-size(3.6);
        }

        @include breakpoint($B-1004) {
            @include font-size(4.1);
        }
    }
    p {
        margin-bottom: 0;
        @include font-size(1.2);
        @include breakpoint($B-460) {
            @include font-size(1.5);
        }

        @include breakpoint($B-910) {
            @include font-size(1.6);
        }
    }
    // Hero text alignment
    .inner-container.position {
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
        &.center {
            text-align: center;
        }
    }
}