// body.fixed-mast .better-hero {
//     @include breakpoint($B-800) {
//         // margin-top: Needs to match current height of .mast @ breakpoint $B-800
//         margin-top: 108px;
//         z-index: 98;
//         top: 0;
//         position: fixed;
//         width: 100%;
//     }
// }

.better-hero {
    width: 100%;
    height: auto;
    border: 0;
    .inner-container.no-max-width {
        max-width: 100%;
    }
    img {
        margin: 0 auto;
    }
}

// Left and right padding if hero has headline, button or sub-heading
.better-hero .inner-container {
    box-shadow: none !important;
    &.has-headline,
    &.has-button,
    &.has-sub-heading {
        padding-right: 1em;
        padding-left: 1em;
        @include breakpoint($B-745) {
            padding-right: 2em;
            padding-left: 2em;
        }
    }
}

// Top and bottom padding if hero ONLY has-headline, has-button or has-sub-heading
.better-hero .inner-container {
    &.has-headline {
        padding-top: 15%;
        padding-bottom: 20%;
        @include breakpoint($B-800) {
            padding-bottom: 0;
            padding-top: 10em;
        }

        @include breakpoint($B-910) {
            padding-top: 12em;
        }
    }
    &.has-button,
    &.has-sub-heading {
        padding-top: 20%;
        padding-bottom: 20%;
        @include breakpoint($B-800) {
            padding-top: 17em;
            padding-bottom: 0;
        }
    }
}

// Top and bottom padding if hero has-headline & has-button
// Top and bottom padding if hero has-headline & has-sub-heading
.better-hero .inner-container {
    &.has-headline.has-button,
    &.has-headline.has-sub-heading {
        padding-top: 14%;
        padding-bottom: 12%;
        @include breakpoint($B-500) {
            padding-top: 12%;
            padding-bottom: 10%;
        }

        @include breakpoint($B-800) {
            padding-top: 10em;
            padding-bottom: 0;
        }
    }
}

.better-hero .inner-container.position {
    &.left {
        @include breakpoint($B-745) {
            padding-right: 20em;
        }
    }
    &.right {
        @include breakpoint($B-745) {
            padding-left: 20em;
        }
    }
    &.center {
        @include breakpoint($B-745) {
            padding-left: 9em;
            padding-right: 9em;
        }
    }
}