///////////////////////////////////////////
// Typography
///////////////////////////////////////////
.better-hero {
    h1, h2, h3, h4, h5, h6, p {
        color: $wht;
    }
}


///////////////////////////////////////////
// Links
///////////////////////////////////////////



///////////////////////////////////////////
// Colour
///////////////////////////////////////////



///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.better-hero {
    background: $grey-20;
    background: transparent;
}



