///////////////////////////////////////////
// Typography
///////////////////////////////////////////

.banner.internal {
    h1 {
        font-size: 1em;
        text-align: right;
        margin-right: 1em;
        margin-bottom: 0;
    }
    @include breakpoint($B-745) {
        h1 {
            // margin-left: 6.6em;
            @include font-size(2.8);
        }
    }

    @include breakpoint($B-910) {
        h1 {
            @include font-size(3.4);
            margin-right: 2.5em;
        }
    }
}

///////////////////////////////////////////
// Links
///////////////////////////////////////////

.banner.internal {
    a.link {
        display: none;
        visibility: hidden;
    }
    @include breakpoint($B-910) {
        a.link {
            display: block;
            visibility: visible;
            span {
                display: none;
                visibility: hidden;
            }
            &:link, &:active, &:visited {
                color: $wht;
                position: absolute;
                right: 3em;
                bottom: 0.3em;
                height: 40px;
                width: 40px;
                background: transparent;
                border: 2px solid $wht;
                border-radius: 50%;
            }
            &:hover, &:focus {}
        }
    }
}

///////////////////////////////////////////
// Colour
///////////////////////////////////////////

.banner.internal.transparent {
    background: rgba(255, 255, 255, 0.3);
}

///////////////////////////////////////////
// Layout
///////////////////////////////////////////

.banner.internal {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.better-hero {
    img.hero-logo {
        width: 70px;
        position: absolute;
        top: 1em;
        left: 1em;
        &.bottom {
            top: auto;
            bottom: 1em;
        }
        @include breakpoint($B-460) {
            width: 90px;
        }

        @include breakpoint($B-550) {
            width: 110px;
        }

        @include breakpoint($B-680) {
            width: 140px;
        }

        @include breakpoint($B-745) {
            display: none;
            visibility: hidden;
        }
    }
    @include breakpoint($B-745) {
        .banner.internal {
            min-height: 100px;
            padding-top: 2em;
        }
        // img.hero-logo {
        //     top: 3em;
        //     left: 3em;
        //     &.bottom {
        //         top: auto;
        //         bottom: 3em;
        //     }
        // }
        .inner-container.no-max-width {
            // img.hero-logo.bottom {
            //     bottom: 0;
            // }
       
        }
    }
}